In [1]:
#Read in Redlist

import pandas as pd
import py_entitymatching as em
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
import re
style.use('ggplot')

# Read in csv as dataframe
rl = em.read_csv_metadata("../finalRedlist.csv", encoding="ISO-8859-1", key='id')
# glance at first few rows

ar = em.read_csv_metadata("../finalArkives.csv", encoding="ISO-8859-1", key='id')

c:\users\aparn\anaconda\envs\my_first_env\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [ ]:
rl['block'] = 'yes'
ar['block'] = 'yes'

In [ ]:

rl.rename(columns={'Unnamed: 0':'Unnamed'}, inplace=True)
ar.rename(columns={'Unnamed: 0':'Unnamed'}, inplace=True)

In [4]:
ar.head()

,Unnamed: 0,id,scientific_name,name,kingdom,phylum,class,order,family,genus,size,threats,conservation,threat_keywords,conservation_keywords,tCount,cCount,block
0,0,0,Papasula abbotti,abbotts booby,Animalia,Chordata,Aves,Pelecaniformes,Sulidae,Papasula,Length: 79 cm (2),Phosphate mining on Christmas Island in the 1960s and 70s caused the destruction of a third of A...,The majority of Abbott's booby nest sites occur within the Christmas Island National Park which ...,,,0,0.0,yes
1,1,1,Cephalophus spadix,abbotts duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus,50 â?? 60 kg (2),Like many other duikers Abbottâ??s duiker is being impacted by a combination of hunting and habi...,Although Abbottâ??s duiker occurs within several protected areas such as the Kilimanjaro Nationa...,hunting;,protected;,1,1.0,yes
2,2,2,Cephalophus spadix,abbotts duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus,50 â?? 60 kg (2),Like many other duikers Abbottâ??s duiker is being impacted by a combination of hunting and habi...,Although Abbottâ??s duiker occurs within several protected areas such as the Kilimanjaro Nationa...,hunting;,protected;,1,1.0,yes
3,3,3,Tiliqua adelaidensis,adelaide pygmy bluetongue skink,Animalia,Chordata,Reptilia,Squamata,Scincidae,Tiliqua,Male snout-vent length: 3.8 - 10.6 cm (2)Female snout-vent length: 8.8 - 10.7 cm (2)Tail length:...,The Adelaide pygmy bluetongue skink was once feared to be the first of Australiaâ??s approximate...,The South Australia Department of Environment and Conservation has produced a National Recovery ...,,protected;,0,1.0,yes
4,4,4,Spheniscus demersus,african penguin,Animalia,Chordata,Aves,Sphenisciformes,Spheniscidae,Spheniscus,Length: 60 - 70 cm (2),The population of the African penguin has declined and it is estimated that its current size is ...,The African penguin is protected by its listing on Appendix II of the Convention on Internationa...,fishing;pet;pollution;,cites;protected;,3,2.0,yes

In [5]:
#Block on bogus attribute so that we can actually do
#blocking on genus
ob = em.OverlapBlocker()
C0 = ob.block_tables(rl, ar,'block', 'block', 
                     l_output_attrs=list(rl.columns.values), 
                     r_output_attrs=list(ar.columns.values))
len(C0)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:01:52

12687745

In [6]:
C1 = ob.block_candset(C0, 'genus', 'genus')
len(C1)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:03:41

3850

In [290]:
feat = em.get_features_for_matching(rl, ar)

In [ ]:
H = em.extract_feature_vecs(C1, 
                            feature_table=feat, 
                            attrs_after='rtable_block',
                            show_progress=False)

In [331]:
#em.to_csv_metadata(C1, './candidate_set.csv')
#C1 = C1.drop('rtable_block', 1)
#C1 = C1.drop('ltable_block', 1)
result = pd.concat([C1, H], axis=1)
#result = result.drop('rtable_block',1)
result.columns

Index(['_id', 'ltable_id', 'rtable_id', 'ltable_Unnamed: 0', 'ltable_name',
       'ltable_genus', 'ltable_family', 'ltable_ecology', 'ltable_countries',
       'ltable_threat_paragraph', 'ltable_conservation_paragraph',
       'ltable_pop_trend', 'ltable_status', 'ltable_country_count',
       'ltable_scientific_name', 'rtable_Unnamed: 0', 'rtable_scientific_name',
       'rtable_name', 'rtable_kingdom', 'rtable_phylum', 'rtable_class',
       'rtable_order', 'rtable_family', 'rtable_genus', 'rtable_size',
       'rtable_threats', 'rtable_conservation', 'rtable_threat_keywords',
       'rtable_conservation_keywords', 'rtable_tCount', 'rtable_cCount', '_id',
       'ltable_id', 'rtable_id', 'Unnamed_Unnamed_exm', 'Unnamed_Unnamed_anm',
       'Unnamed_Unnamed_lev_dist', 'Unnamed_Unnamed_lev_sim',
       'name_name_jac_qgm_3_qgm_3', 'name_name_cos_dlm_dc0_dlm_dc0',
       'name_name_jac_dlm_dc0_dlm_dc0', 'name_name_mel', 'name_name_lev_dist',
       'name_name_lev_sim', 'name_name_nmw', 'name_name_sw',
       'family_family_jac_qgm_3_qgm_3', 'family_family_cos_dlm_dc0_dlm_dc0',
       'family_family_jac_dlm_dc0_dlm_dc0', 'family_family_mel',
       'family_family_lev_dist', 'family_family_lev_sim', 'family_family_nmw',
       'family_family_sw', 'scientific_name_scientific_name_jac_qgm_3_qgm_3',
       'scientific_name_scientific_name_cos_dlm_dc0_dlm_dc0',
       'scientific_name_scientific_name_jac_dlm_dc0_dlm_dc0',
       'scientific_name_scientific_name_mel',
       'scientific_name_scientific_name_lev_dist',
       'scientific_name_scientific_name_lev_sim',
       'scientific_name_scientific_name_nmw',
       'scientific_name_scientific_name_sw', 'block_block_lev_dist',
       'block_block_lev_sim', 'block_block_jar', 'block_block_jwn',
       'block_block_exm', 'block_block_jac_qgm_3_qgm_3', 'rtable_block'],
      dtype='object')

In [ ]:
label = em.split_train_test(C1, train_proportion=0.1039)
gold = label['train']
DS = label['test']


#Automatically label the training data
labels = []
matches = 0;
nonmatches = 0;
for index, row in gold.iterrows():
    if row['rtable_scientific_name'].strip().lower() == row['ltable_scientific_name'].strip().lower():
        labels.append(1)
        matches = matches + 1
    else:
        labels.append(0)
        nonmatches = nonmatches + 1
        
gold['label'] = labels
print('number of matches in training set:', matches)
print('number of nonmatches in training set:', nonmatches)

In [340]:
gold

,_id,ltable_id,rtable_id,ltable_Unnamed: 0,ltable_name,ltable_genus,ltable_family,ltable_ecology,ltable_countries,ltable_threat_paragraph,...,rtable_order,rtable_family,rtable_genus,rtable_size,rtable_threats,rtable_conservation,rtable_threat_keywords,rtable_conservation_keywords,rtable_tCount,rtable_cCount
8806402,8806402,4922,1112,4922,chinese giant salamander,Andrias,Cryptobranchidae,Freshwater,China;,\r\r\n Commercial over-exploitation for human consumption is the main threat to this species....,...,Caudata,Cryptobranchidae,Andrias,Length: 1.8 m (2),The Chinese giant salamander is threatened by hunting as its flesh is considered a delicacy in A...,The Chinese giant salamander is now protected from international trade by its listing on Appendi...,loss;hunting;,cites;protected;,2,2.0
11150637,11150637,6317,1408,6317,yellow meranti,Shorea,Dipterocarpaceae,Terrestrial,Brunei Darussalam; Malaysia (Sarawak);,NaN,...,Theales,Dipterocarpaceae,Shorea,Height: 70 m (2)Trunk diameter: 1.6 m (2),The Philippine mahogany has become depleted due to logging and <strong>slash-and-burn</strong> f...,Despite being Critically Endangered it is not clear whether any conservation measures exist for ...,,,0,0.0
8160094,8160094,7644,1030,7644,"anegada ground iguana, anegada island iguana, anegada rock iguana",Cyclura,Iguanidae,Terrestrial,"Virgin Islands, British;",\r\r\n Areas on Anegada that once contained dense populations of iguanas now support few or n...,...,Squamata,Iguanidae,Cyclura,Male snout-to-vent length: up to360 mm (2)Female snout-to-vent length: up to290 mm (2)Male weigh...,At least 13 iguana subpopulations most on relatively large islands have disappeared over the las...,Many of the Turks and Caicos Islands are protected by being encompassed in national parks nature...,loss;poaching;environmental;environment;pet;,protected;,5,1.0
5244688,5244688,4958,662,4958,NaN,Cobitis,Cobitidae,Freshwater,Ukraine;,"\r\r\n High levels of water abstraction, leaving very low levels of water in spring and summe...",...,Cypriniformes,Cobitidae,Cobitis,Length: up to 8.2 cm (2),The Northern Iberian spined-loach has declined in abundance and range in recent decades and has ...,The Northern Iberian spined-loach is listed as Vulnerable in the Spanish Red Book (3) and as End...,disease;pet;pollution;,,3,0.0
2103587,2103587,6112,265,6112,NaN,Shorea,Dipterocarpaceae,Terrestrial,"Brunei Darussalam; Malaysia (Sabah, Sarawak);",\r\r\n The main source of balau timber for Sabah. Logging poses a severe threat because the t...,...,Theales,Dipterocarpaceae,Shorea,Trunk diameter: up to 172 cm (2),Dipterocarp forests have become amongst the most endangered in the world widely logged for use i...,Some subpopulations of this species are found in primary forest reserves where they receive vary...,,,0,0.0
12504105,12504105,6320,1579,6320,NaN,Shorea,Dipterocarpaceae,Terrestrial,"Indonesia (Sumatera); Malaysia (Peninsular Malaysia, Sarawak);",NaN,...,Theales,Dipterocarpaceae,Shorea,Height: up to 50 m (2)Trunk diameter: up to 182 cm (2),Numbers of white lauan have become depleted due to logging and <strong>slash-and-burn</strong> a...,The white lauan most likely occurs in a number of protected areas throughout the Philippines suc...,,protected;,0,1.0
2150352,2150352,5387,271,5387,perriers sifaka,Propithecus,Indriidae,Terrestrial,Madagascar;,\r\r\n Slash-and-burn activities resulting in forest loss represents the greatest threat to t...,...,Primates,Indriidae,Propithecus,4.75 â?? 8.5 kg (2),Like many Malagasy primates the diademed sifaka is primarily threatened by the destruction of it...,The diademed sifaka occurs in a number of national parks and reserves for example Mantadia and Z...,,captive breeding;,0,1.0
4992653,4992653,6203,630,6203,"candelabra tree, parana pine, paranpine",Araucaria,Araucariaceae,NaN,"Argentina (Misiones); Brazil (Minas Gerais, ParanÃ¡, Rio Grande do Sul, Santa Catarina, SÃ£o Pau...",\r\r\n ParanÃ¡ Pine is the most important timber species in Brazil. In addition to the massiv...,...,Coniferales,Araucariaceae,Araucaria,Diameter: 1 â?? 1.5 m (2)Height: 30 â?? 40 m (2),The tall trunks of the monkey puzzle have been used in construction over the centuries; the wood...,The monkey puzzle was declared a National Monument in Chile in 1976 a status that prohibits logg...,,protected;,0,1.0
4414761,4414761,6106,557,6106,NaN,Shorea,Dipterocarpaceae,Terrestrial,Indonesia (Kalimantan); Malaysia (Sarawak);,\r\r\n It is mainly threatened by habitat degradation.\r\r\n\r\r\n \r\r\n,...,Theales,Dipterocarpaceae,Shorea,Height: up to 60 m (2),Light red meranti has been heavily exploited for its valuable timber leaving populations of this...,The light red meranti is known to occur in some forest reserves (1).,,,0,0.0
11150428,11150428,6108,1408,6108,light red meranti,Shorea,Dipterocarpaceae,Terrestrial,Malaysia (Sarawak);,\r\r\n This species is threatened by forest degradation.\r\r\n\r\r\n \r\r\n,...,Theales,Dipterocarpaceae,Shorea,Height: 70 m (2)Trunk diameter: 1.6 m (2),The Philippine mahogany has become depleted due to logging and <strong>slash-and-burn</strong> f...,Despite being Critically Endangered it is not clear whether any conservation measures exist for ...,,,0,0.0
1777545,1777545,4585,224,4585,maya pupfish,Cyprinodon,Cyprinodontidae,NaN,Mexico;,NaN,...,Cyprinodontiformes,Cyprinodontidae,Cyprinodon,Maximum length: 62mm (2),The small range of the Comanche Springs pupfish means that small changes in the environment can ...,Current conservation efforts for this species are focussed on moderating water level fluctuation...,loss;environment;invasive;pet;,,4,0.0
10200588,10200588,6068,1288,6068,NaN,Calyptranthes,Myrtaceae,NaN,Cuba;,NaN,...,Myrtales,Myrtaceae,Calyptranthes,NaN,The population of Kiaerskovâ??s lidflower on Vieques Island was destroyed by the construction of...,On Virgin Gorda Kiaerskovâ??s lidflower occurs entirely within Gorda Peak National Park a protec...,loss;,protected;,1,1.0
5689800,5689800,6830,718,6830,NaN,Nepenthes,Nepenthaceae,NaN,Indonesia (Sumatera);,NaN,...,Nepenthales,Nepenthaceae,Nepenthes,Stem length: up to 6 m (2)Pitcher height: up to 35 cm (2)Pitcher width: up to 18 cm (2),As fascinating and unusual plants <i>Nepenthes</i> spp. have been collected from the wild for ce...,<i>Nepenthes rajah</i> is listed on Appendix I of the Convention on International Trade in Endan...,loss;,cites;,1,1.0
1535239,1535239,7644,193,7644,"anegada ground iguana, anegada island iguana, anegada rock iguana",Cyclura,Iguanidae,Terrestrial,"Virgin Islands, British;",\r\r\n Areas on Anegada that once contained dense populations of iguanas now support few or n...,...,Squamata,Iguanidae,Cyclura,Male snout-to-vent length: up to 51.5 cm (2)Female snout-to-vent length: up to 41.0 cm (2),Once abundant the Cayman Island blue iguana has been quietly heading for extinction in the wild ...,The Cayman Island blue iguana is fully protected under local legislation and kept out of interna...,,cites;captive breeding;protected;,0,3.0
7982831,7982831,4511,1008,4511,"acklins ground iguana, central bahamian rock iguana, san salvador ground iguana, san salvador ig...",Cyclura,Iguanidae,NaN,Bahamas;,NaN,...,Squamata,Iguanidae,Cyclura,Male snout-to-vent length: to 560 mmFemale snout-to-vent length: to 500 mmMale weight: 7.75 kgFe...,Anegada ground iguana populations have undergone a drastic decline in recent decades leaving pos...,The Anegada Iguana Recovery Programme began in 1997 which included establishing a â??headstartâ?...,loss;poaching;pet;,protected;,3,1.0
182694,182694,649,23,649,NaN,Brookesia,Chamaeleonidae,Terrestrial,Madagascar;,\r\r\n This species is threatened by the loss and degradation of humid forest due to slash-an...,...,Squamata,Chamaeleonidae,Brookesia,Length: up to 11cm (2),Chameleons are favoured as pets across the world due to their fascinating appearance and behavio...,The Antsingy leaf chameleon is listed on Appendix I of the Convention on International Trade of ...,pet;,cites;,1,1.0
2033120,2033120,6880,256,6880,wades pitogo,Cycas,Cycadaceae,Terrestrial,Philippines;,\r\r\n This species is threatened due to the conversion of grasslands into settlement areas a...,...,Cycadales,Cycadaceae,Cycas,Trunk height: to 7 m (2)Trunk diameter: 12 â?? 27 cm (2),While in many areas <i>Cycas circinalis</i> remains abundant in others its habitat has been seve...,Significant populations of <i>Cycas circinalis</i> still exist in a number of national parks and...,,,0,0.0
12279001,12279001,2836,1551,2836,NaN,Turbinicarpus,Cactaceae,Terrestrial,Mexico (Hidalgo);,\r\r\n Illegal collecting continues to threaten this species.\r\r\n\r\r\n \r\r\n,...,Caryophyllales,Cactaceae,Turbinicarpus,Diameter: up to 9 cm (2),Illegal collection is the main threat to <em>Turbinicarpus alonsoi</em> (1). At the time of its ...,<em>Turbinicarpus alonsoi </em>is listed on Appendix I of the Convention on International Trade ...,,cites;,0,1.0
3995028,3995028,5868,504,5868,yanbaru whiskered bat,Myotis,Vespertilionidae,Terrestrial,Japan;,\r\r\n This species is threatened by deforestation.\r\r\n\r\r\n \r\r\n,...,Chiroptera,Vespertilionidae,Myotis,5 â?? 11 g (2),Recently the Indiana bat has been suffering from a decline in numbers due to a range of threats....,As well as being classified as Endangered on the IUCN Red List 2007 (1) the Indiana bat is also ...,loss;,endangered species act;,1,1.0
540236,540236,2016,68,2016,NaN,Tieghemella,Sapotaceae,Terrestrial,Cameroon; Congo; Gabon; Sierra Leone;,\r\r\n No direct information is available on population declines but levels of exploitation a...,...,Ebenales,Sapotaceae,Tieghemella,Height: c. 60 metres (2)Trunk diameter: up to 3 m (2),The beautiful baku is threatened by over-exploitation for its attractive wood (8) which is used ...,Baku trees are protected by law in CÃ´te d'Ivoire and due to the problem of overexploitation of ...,,protected;,0,1.0
12491690,12491690,1820,1578,1820,NaN,Shorea,Dipterocarpaceae,NaN,Malaysia (Sarawak);,NaN,...,Theales,Dipterocarpaceae,Shorea,Height: up to 50 m (2)Trunk diameter: up to 182 cm (2),Numbers of white lauan have become depleted due to logging and <strong>slash-and-burn</strong> a...,The white lauan most likely occurs in a number of protected areas throughout the Philippines suc...,,protected;,0,1.0
7278061,7278061,4176,919,4176,NaN,Eleutherodactylus,Eleutherodactylidae,Terrestrial,Cuba;,"\r\r\n The major threat is habitat loss, due to agriculture, woodcutting, disturbance from to...",...,Anura,Leptodactylidae,Eleutherodactylus,Female snout-vent length: up to 34 mm (2),Currently almost a quarter of all amphibian species on the British Virgin Islands are categorise...,A number of conservation recommendations have been made to protect the native fauna of the Briti...,,protected;,0,1.0
2103914,2103914,6439,265,6439,dark red meranti,Shorea,Dipterocarpaceae,NaN,Brunei Darussalam; Malaysia (Sabah);,NaN,...,Theales,Dipterocarpaceae,Shorea,Trunk diameter: up to 172 cm (2),Dipterocarp forests have become amongst the most endangered in the world widely logged for use i...,Some subpopulations of this species are found in primary forest reserves where they receive vary...,,,0,0.0
1788560,1788560,7685,225,7685,thicklip pupfish,Cyprinodon,Cyprinodontidae,Freshwater,Mexico;,"\r\r\n This species' habitat is threatened by several factors, including the impacts of tilap...",...,Cyprinodontiformes,Cyprinodontidae,Cyprinodon,Maximum length: 62mm (2),The small range of the Comanche Springs pupfish means that small changes in the environment can ...,Current conservation efforts for this species are focussed on moderating water level fluctuation...,loss;environment;invasive;pet;,,4,0.0
1468856,1468856,4581,185,4581,NaN,Podarcis,Lacertidae,Terrestrial,Portugal; Spain;,\r\r\n The southern populations are almost certainly at risk from climate change. Loss of hab...,...,Squamata,Lacertidae,Podarcis,Male average snout-vent length: 5 cm (2)Female average snout-vent length: 4.9 cm (2),Several threats to Carbonellâ??s wall lizard have been identified including degradation and loss...,Carbonellâ??s wall lizard occurs in several national parks including the Coto Donana National Pa...,loss;,,1,0.0
1963598,1963598,678,248,678,"cuviers hutia, hispaniolan hutia, hispanolan hutia",Plagiodontia,Capromyidae,Terrestrial,Dominican Republic; Haiti;,\r\r\n Often killed as a crop pest and opportunistically hunted for food in Haiti. Increasing...,...,Rodentia,Capromyidae,Plagiodontia,ca. 1.3 kg (2),Hutias were once a diverse group that occurred across the Caribbean islands but over half of all...,Cuvierâ??s hutia occurs in a number of protected areas although habitat destruction may still be...,loss;hunting;,protected;,2,1.0
7692923,7692923,7458,971,7458,"fowlers robber frog, khaki bromeliad frog",Eleutherodactylus,Eleutherodactylidae,Terrestrial,Dominican Republic; Haiti;,\r\r\n The primary threat to the species is habitat destruction due to small-scale agricultur...,...,Anura,Leptodactylidae,Eleutherodactylus,Female snout-vent length: 2 cm (2),Already restricted in range Wightmanâ??s robber frog populations are in a continuing decline est...,Despite not being the target of any known conservation measures Wightmanâ??s robber frog is affo...,disease;pollution;,protected;,2,1.0
12418247,12418247,7527,1568,7527,NaN,Telmatobius,Telmatobiidae,Terrestrial; Freshwater,Chile (Antofagasta);,\r\r\n Abstraction of surface water for domestic and agricultural use is a threat because it ...,...,Anura,Leptodactylidae,Telmatobius,Length: 5 cm (2),<em>Telmatobius espadai </em>is now an extremely rare species; a population census undertaken in...,Despite <em>Telmatobius espadai </em>being classified as Critically Endangered by the IUCN Red L...,disease;,,1,0.0
7135958,7135958,4543,901,4543,NaN,Squalius,Cyprinidae,Freshwater,Portugal;,"\r\r\n Water extraction, drought and introduction of exotic fish species.\r\r\n\r\r\n \r\r...",...,Cypriniformes,Cyprinidae,Squalius,Length: 16 cm (2),Occurring in just 10 to 12 isolated populations the Toscana stream chub has an extremely fragmen...,The Toscana stream chub is listed on Annex II of the EU Habitats Directive (6) and Appendix III ...,pet;pollution;,,2,0.0
12491868,12491868,1998,1578,1998,NaN,Shorea,Dipterocarpaceae,Terrestrial,Indonesia (Sumatera); Malaysia (Sarawak);,NaN,...,Theales,Dipterocarpaceae,Shorea,Height: up to 50 m (2)Trunk diameter: up to 182 cm (2),Numbers of white lauan have become depleted due to logging and <strong>slash-and-burn</strong> a...,The white lauan most likely occurs in a number of protected areas throughout the Philippines suc...,,protected;,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171060,1171060,7555,147,7555,NaN,Philautus,Rhacophoridae,Terrestrial,Indonesia (Jawa);,\r\r\n Forest loss at the type locality has been so severe that almost no habitat remains.\r\...,...,Anura,Rhacophoridae,Philautus,Male snout-vent length: 2.3 - 3 cm (2),The blue-eyed bush frog has lost a great amount of suitable habitat due to dam construction agri...,Some areas within the range of the blue-eyed bush frog are protected including the Sharavathi Va...,invasive;,protected;,1,1.0
2103581,2103581,6106,265,6106,NaN,Shorea,Dipterocarpaceae,Terrestrial,Indonesia (Kalimantan); Malaysia (Sarawak);,\r\r\n It is mainly threatened by habitat degradation.\r\r\n\r\r\n \r\r\n,...,Theales,Dipterocarpaceae,Shorea,Trunk diameter: up to 172 cm (2),Dipterocarp forests have become amongst the most endangered in the world widely logged for use i...,Some subpopulations of this species are found in primary forest reserves where they receive vary...,,,0,0.0
2111494,2111494,6104,266,6104,yellow meranti,Shorea,Dipterocarpaceae,Terrestrial,Malaysia (Sarawak);,NaN,...,Theales,Dipterocarpaceae,Shorea,Trunk diameter: up to 172 cm (2),Dipterocarp forests have become amongst the most endangered in the world widely logged for use i...,Some subpopulations of this species are found in primary forest reserves where they receive vary...,,,0,0.0
4410638,4410638,1983,557,1983,NaN,Shorea,Dipterocarpaceae,Terrestrial,"Indonesia (Sumatera); Malaysia (Peninsular Malaysia, Sabah); Myanmar; Singapore; Thailand;",NaN,...,Theales,Dipterocarpaceae,Shorea,Height: up to 60 m (2),Light red meranti has been heavily exploited for its valuable timber leaving populations of this...,The light red meranti is known to occur in some forest reserves (1).,,,0,0.0
7273406,7273406,7436,918,7436,"shortnosed green frog, shortsnout robber frog",Eleutherodactylus,Eleutherodactylidae,Terrestrial,Haiti;,"\r\r\n Severe habitat destruction is taking place in its range, primarily due to logging by l...",...,Anura,Leptodactylidae,Eleutherodactylus,Female snout-vent length: up to 34 mm (2),Currently almost a quarter of all amphibian species on the British Virgin Islands are categorise...,A number of conservation recommendations have been made to protect the native fauna of the Briti...,,protected;,0,1.0
5809961,5809961,351,734,351,wallaces golden birdwing,Ornithoptera,Papilionidae,NaN,Indonesia;,NaN,...,Lepidoptera,Papilionidae,Ornithoptera,Wingspan: 19 â?? 28 cm (2),As one of the worldâ??s most beautiful butterflies Queen Alexandraâ??s birdwing is extremely att...,Threatened by illegal trade and habitat loss the survival of Queen Alexandraâ??s birdwing is dep...,loss;,cites;,1,1.0
7692960,7692960,7495,971,7495,"richmonds coqui, richmonds robber frog",Eleutherodactylus,Eleutherodactylidae,Terrestrial,Puerto Rico;,"\r\r\n The cause of the decline in this species is not known, but it is thought that chytridi...",...,Anura,Leptodactylidae,Eleutherodactylus,Female snout-vent length: 2 cm (2),Already restricted in range Wightmanâ??s robber frog populations are in a continuing decline est...,Despite not being the target of any known conservation measures Wightmanâ??s robber frog is affo...,disease;pollution;,protected;,2,1.0
6178114,6178114,4414,780,4414,"engelhardts mushroomtongue salamander , engelhardts salamander",Bolitoglossa,Plethodontidae,Terrestrial,Guatemala; Mexico;,\r\r\n The major threat is the loss of cloud forest due to extensive agricultural activities ...,...,Caudata,Plethodontidae,Bolitoglossa,Snout-vent length: 51 - 68 mm (2) (3)Tail length: c. 51 mm (2),Salvinâ??s mushroomtongue salamander was once relatively common but has undergone a decline as a...,No specific conservation measures are currently known to be in place for Salvinâ??s mushroomtong...,loss;fragmentation;environment;disease;,protected;,4,1.0
3061008,3061008,5818,386,5818,delacours langur,Trachypithecus,Cercopithecidae,Terrestrial,Viet Nam;,"\r\r\n Hunting for the purposes of traditional ""medicine"" is the primary threat facing this s...",...,Primates,Cercopithecidae,Trachypithecus,9.5 - 12 kg (2),Currently there is little information on the population size and distribution of the golden lang...,International trade in this species is banned by its listing on Appendix I of the Convention on ...,,cites;protected;,0,2.0
8876405,8876405,3690,1121,3690,NaN,Ilex,Aquifoliaceae,NaN,China (Hubei);,NaN,...,Celastrales,Aquifoliaceae,Ilex,Max height: 2-3 m (2),Having last been reviewed on the IUCN Red List in 1998 the conservation status of Cookâ??s holly...,Cookâ??s holly was listed on the US Endangered Species Act in 1987 and a Recovery Plan was drawn...,,endangered species act;,0,1.0
2111703,2111703,6313,266,6313,NaN,Shorea,Dipterocarpaceae,Terrestrial,Indonesia (Kalimantan); Malaysia (Sarawak);,\r\r\n Forest degradation and logging have brought the species close to extinction. Its slow ...,...,Theales,Dipterocarpaceae,Shorea,Trunk diameter: up to 172 cm (2),Dipterocarp forests have become amongst the most endangered in the world widely logged for use i...,Some subpopulations of this species are found in primary forest reserves where they receive vary...,,,0,0.0

In [173]:
em.to_csv_metadata(gold, './gold.csv')
em.to_csv_metadata(DS, './unlabelled.csv')

File already exists at ./train.csv; Overwriting it
Metadata file already exists at ./train.metadata. Overwriting it
File already exists at ./test.csv; Overwriting it
Metadata file already exists at ./test.metadata. Overwriting it

True

In [288]:
test_train = em.split_train_test(gold, train_proportion=0.7)
train = test_train['train']
test = test_train['test']
len(train)

280

In [289]:
em.to_csv_metadata(gold, './train.csv')
em.to_csv_metadata(DS, './test.csv')

0                                     Unnamed_Unnamed_exm
1                                     Unnamed_Unnamed_anm
2                                Unnamed_Unnamed_lev_dist
3                                 Unnamed_Unnamed_lev_sim
4                               name_name_jac_qgm_3_qgm_3
5                           name_name_cos_dlm_dc0_dlm_dc0
6                           name_name_jac_dlm_dc0_dlm_dc0
7                                           name_name_mel
8                                      name_name_lev_dist
9                                       name_name_lev_sim
10                                          name_name_nmw
11                                           name_name_sw
12                          family_family_jac_qgm_3_qgm_3
13                      family_family_cos_dlm_dc0_dlm_dc0
14                      family_family_jac_dlm_dc0_dlm_dc0
15                                      family_family_mel
16                                 family_family_lev_dist
17                                  family_family_lev_sim
18                                      family_family_nmw
19                                       family_family_sw
20        scientific_name_scientific_name_jac_qgm_3_qgm_3
21    scientific_name_scientific_name_cos_dlm_dc0_dlm_dc0
22    scientific_name_scientific_name_jac_dlm_dc0_dlm_dc0
23                    scientific_name_scientific_name_mel
24               scientific_name_scientific_name_lev_dist
25                scientific_name_scientific_name_lev_sim
26                    scientific_name_scientific_name_nmw
27                     scientific_name_scientific_name_sw
28                                   block_block_lev_dist
29                                    block_block_lev_sim
30                                        block_block_jar
31                                        block_block_jwn
32                                        block_block_exm
33                            block_block_jac_qgm_3_qgm_3
Name: feature_name, dtype: object

{'abs_norm': <function py_entitymatching.feature.simfunctions.abs_norm>,
 'affine': <function py_entitymatching.feature.simfunctions.affine>,
 'cosine': <function py_entitymatching.feature.simfunctions.cosine>,
 'dice': <function py_entitymatching.feature.simfunctions.dice>,
 'exact_match': <function py_entitymatching.feature.simfunctions.exact_match>,
 'hamming_dist': <function py_entitymatching.feature.simfunctions.hamming_dist>,
 'hamming_sim': <function py_entitymatching.feature.simfunctions.hamming_sim>,
 'jaccard': <function py_entitymatching.feature.simfunctions.jaccard>,
 'jaro': <function py_entitymatching.feature.simfunctions.jaro>,
 'jaro_winkler': <function py_entitymatching.feature.simfunctions.jaro_winkler>,
 'lev_dist': <function py_entitymatching.feature.simfunctions.lev_dist>,
 'lev_sim': <function py_entitymatching.feature.simfunctions.lev_sim>,
 'monge_elkan': <function py_entitymatching.feature.simfunctions.monge_elkan>,
 'needleman_wunsch': <function py_entitymatching.feature.simfunctions.needleman_wunsch>,
 'overlap_coeff': <function py_entitymatching.feature.simfunctions.overlap_coeff>,
 'rel_diff': <function py_entitymatching.feature.simfunctions.rel_diff>,
 'smith_waterman': <function py_entitymatching.feature.simfunctions.smith_waterman>}

[('Unnamed', 'Unnamed'),
 ('id', 'id'),
 ('name', 'name'),
 ('genus', 'genus'),
 ('family', 'family'),
 ('scientific_name', 'scientific_name'),
 ('block', 'block')]

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
4,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x00000163739E42F0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x00000163739E4378>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x00000163739E4510>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x00000163739E47B8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,name_name_lev_dist,name,name,None,None,lev_dist,<function name_name_lev_dist at 0x00000163739E4400>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,name_name_lev_sim,name,name,None,None,lev_sim,<function name_name_lev_sim at 0x00000163739E4268>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x00000163739E41E0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x00000163739E4158>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

,_id,ltable_id,rtable_id,Unnamed_Unnamed_exm,Unnamed_Unnamed_anm,Unnamed_Unnamed_lev_dist,Unnamed_Unnamed_lev_sim,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,name_name_jac_dlm_dc0_dlm_dc0,...,scientific_name_scientific_name_lev_sim,scientific_name_scientific_name_nmw,scientific_name_scientific_name_sw,block_block_lev_dist,block_block_lev_sim,block_block_jar,block_block_jwn,block_block_exm,block_block_jac_qgm_3_qgm_3,rtable_block
25215,25215,1470,3,0,0.002041,4,0.00,0.738095,0.670820,0.500000,...,1.000000,20.0,20.0,0.0,1.0,1.0,1.0,1,1.0,yes
75598,75598,4363,9,0,0.002063,4,0.00,0.791667,1.000000,1.000000,...,1.000000,22.0,22.0,0.0,1.0,1.0,1.0,1,1.0,yes
75600,75600,4365,9,0,0.002062,4,0.00,NaN,NaN,NaN,...,0.608696,13.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
78778,78778,7543,9,0,0.001193,4,0.00,0.085714,0.408248,0.250000,...,0.636364,13.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
83513,83513,4363,10,0,0.002292,4,0.00,0.791667,1.000000,1.000000,...,1.000000,22.0,22.0,0.0,1.0,1.0,1.0,1,1.0,yes
83515,83515,4365,10,0,0.002291,4,0.00,NaN,NaN,NaN,...,0.608696,13.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
86693,86693,7543,10,0,0.001326,4,0.00,0.085714,0.408248,0.250000,...,0.636364,13.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
105744,105744,2849,13,0,0.004563,4,0.00,0.551724,0.707107,0.500000,...,1.000000,23.0,23.0,0.0,1.0,1.0,1.0,1,1.0,yes
105745,105745,2850,13,0,0.004561,4,0.00,0.129032,0.500000,0.333333,...,0.600000,11.0,16.0,0.0,1.0,1.0,1.0,1,1.0,yes
105746,105746,2851,13,0,0.004560,4,0.00,NaN,NaN,NaN,...,0.695652,16.0,16.0,0.0,1.0,1.0,1.0,1,1.0,yes
105747,105747,2852,13,0,0.004558,4,0.00,0.129032,0.500000,0.333333,...,0.629630,13.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109757,109757,6862,13,0,0.001894,4,0.00,0.133333,0.500000,0.333333,...,0.739130,16.0,16.0,0.0,1.0,1.0,1.0,1,1.0,yes
109758,109758,6863,13,0,0.001894,3,0.25,0.142857,0.500000,0.333333,...,0.782609,15.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109759,109759,6864,13,0,0.001894,4,0.00,0.117647,0.408248,0.250000,...,0.695652,14.0,14.0,0.0,1.0,1.0,1.0,1,1.0,yes
109760,109760,6865,13,0,0.001894,4,0.00,0.129032,0.500000,0.333333,...,0.680000,15.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109761,109761,6866,13,0,0.001893,4,0.00,0.100000,0.353553,0.200000,...,0.739130,17.0,17.0,0.0,1.0,1.0,1.0,1,1.0,yes
109762,109762,6867,13,0,0.001893,4,0.00,NaN,NaN,NaN,...,0.653846,14.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109763,109763,6868,13,0,0.001893,4,0.00,0.100000,0.353553,0.200000,...,0.782609,17.0,18.0,0.0,1.0,1.0,1.0,1,1.0,yes
109764,109764,6869,13,0,0.001893,4,0.00,0.185185,0.500000,0.333333,...,0.695652,15.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109765,109765,6870,13,0,0.001892,4,0.00,0.125000,0.500000,0.333333,...,0.739130,15.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109766,109766,6871,13,0,0.001892,4,0.00,0.137931,0.500000,0.333333,...,0.695652,14.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109767,109767,6872,13,0,0.001892,4,0.00,0.117647,0.500000,0.333333,...,0.708333,16.0,16.0,0.0,1.0,1.0,1.0,1,1.0,yes
109768,109768,6873,13,0,0.001891,3,0.25,0.133333,0.500000,0.333333,...,0.652174,13.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
109769,109769,6874,13,0,0.001891,4,0.00,NaN,NaN,NaN,...,0.652174,11.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
166554,166554,339,21,0,0.061947,3,0.00,0.000000,0.000000,0.000000,...,1.000000,21.0,21.0,0.0,1.0,1.0,1.0,1,1.0,yes
174469,174469,339,22,0,0.064897,3,0.00,0.000000,0.000000,0.000000,...,1.000000,21.0,21.0,0.0,1.0,1.0,1.0,1,1.0,yes
182690,182690,645,23,0,0.035659,3,0.00,NaN,NaN,NaN,...,0.631579,10.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
182694,182694,649,23,0,0.035439,3,0.00,NaN,NaN,NaN,...,0.590909,10.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
182697,182697,652,23,0,0.035276,3,0.00,NaN,NaN,NaN,...,0.700000,13.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
182700,182700,655,23,0,0.035115,3,0.00,NaN,NaN,NaN,...,0.736842,12.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504223,12504223,6438,1579,0,0.245263,4,0.00,0.093023,0.316228,0.166667,...,0.625000,9.0,9.0,0.0,1.0,1.0,1.0,1,1.0,yes
12504224,12504224,6439,1579,0,0.245224,3,0.25,0.000000,0.000000,0.000000,...,0.529412,6.0,7.0,0.0,1.0,1.0,1.0,1,1.0,yes
12507461,12507461,1761,1580,0,0.897217,3,0.25,0.705882,1.000000,1.000000,...,0.571429,11.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12507501,12507501,1801,1580,0,0.877290,2,0.50,0.705882,1.000000,1.000000,...,0.666667,11.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12507596,12507596,1896,1580,0,0.833333,3,0.25,NaN,NaN,NaN,...,0.571429,11.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12511874,12511874,6174,1580,0,0.255912,4,0.00,0.705882,1.000000,1.000000,...,0.619048,10.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12511938,12511938,6238,1580,0,0.253286,4,0.00,0.461538,0.816497,0.666667,...,1.000000,21.0,21.0,0.0,1.0,1.0,1.0,1,1.0,yes
12511939,12511939,6239,1580,0,0.253246,4,0.00,0.304348,0.500000,0.333333,...,0.619048,9.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12511967,12511967,6267,1580,0,0.252114,4,0.00,NaN,NaN,NaN,...,0.619048,9.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12512001,12512001,6301,1580,0,0.250754,4,0.00,0.461538,0.816497,0.666667,...,0.590909,12.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
12515376,12515376,1761,1581,0,0.897785,2,0.50,0.705882,1.000000,1.000000,...,0.571429,11.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12515416,12515416,1801,1581,0,0.877846,2,0.50,0.705882,1.000000,1.000000,...,0.666667,11.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12515511,12515511,1896,1581,0,0.833861,3,0.25,NaN,NaN,NaN,...,0.571429,11.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12519789,12519789,6174,1581,0,0.256074,4,0.00,0.705882,1.000000,1.000000,...,0.619048,10.0,12.0,0.0,1.0,1.0,1.0,1,1.0,yes
12519853,12519853,6238,1581,0,0.253447,4,0.00,0.461538,0.816497,0.666667,...,1.000000,21.0,21.0,0.0,1.0,1.0,1.0,1,1.0,yes
12519854,12519854,6239,1581,0,0.253406,4,0.00,0.304348,0.500000,0.333333,...,0.619048,9.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12519882,12519882,6267,1581,0,0.252274,4,0.00,NaN,NaN,NaN,...,0.619048,9.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12519916,12519916,6301,1581,0,0.250913,3,0.25,0.461538,0.816497,0.666667,...,0.590909,12.0,13.0,0.0,1.0,1.0,1.0,1,1.0,yes
12563880,12563880,2775,1587,0,0.571892,4,0.00,0.152174,0.353553,0.200000,...,0.571429,14.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
12563881,12563881,2776,1587,0,0.571686,4,0.00,0.102941,0.267261,0.125000,...,0.607143,12.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
12566923,12566923,5818,1587,0,0.272774,3,0.25,0.147059,0.500000,0.333333,...,0.607143,13.0,16.0,0.0,1.0,1.0,1.0,1,1.0,yes
12571795,12571795,2775,1588,0,0.572252,4,0.00,0.152174,0.353553,0.200000,...,0.571429,14.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
12571796,12571796,2776,1588,0,0.572046,4,0.00,0.102941,0.267261,0.125000,...,0.607143,12.0,15.0,0.0,1.0,1.0,1.0,1,1.0,yes
12574838,12574838,5818,1588,0,0.272946,2,0.50,0.147059,0.500000,0.333333,...,0.607143,13.0,16.0,0.0,1.0,1.0,1.0,1,1.0,yes
12651778,12651778,3608,1598,0,0.442905,3,0.25,NaN,NaN,NaN,...,0.590909,7.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12659693,12659693,3608,1599,0,0.443182,4,0.00,NaN,NaN,NaN,...,0.590909,7.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12669833,12669833,5833,1600,0,0.274301,4,0.00,0.177778,0.316228,0.166667,...,0.578947,8.0,11.0,0.0,1.0,1.0,1.0,1,1.0,yes
12674698,12674698,2783,1601,0,0.575278,4,0.00,0.204082,0.353553,0.200000,...,0.421053,5.0,7.0,0.0,1.0,1.0,1.0,1,1.0,yes
12674731,12674731,2816,1601,0,0.568537,4,0.00,0.200000,0.353553,0.200000,...,0.526316,6.0,9.0,0.0,1.0,1.0,1.0,1,1.0,yes
12678750,12678750,6835,1601,0,0.234236,4,0.00,0.181818,0.353553,0.200000,...,0.421053,7.0,7.0,0.0,1.0,1.0,1.0,1,1.0,yes