In [104]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
style.use('ggplot')

# Read in csv as dataframe
df = pd.read_csv("/Users/tammi/Desktop/CS 638 Stuffs/cs638project/redlistTable.csv")
# glance at first few rows
df.head()

,Unnamed: 0,animalName,htmlPage,KINGDOM,PHYLUM,CLASS,ORDER,FAMILY,ECOLOGY,COUNTRIES,THREAT_PARAGRAPH,CONSERVATION_PARAGRAPH,POP_TREND,STATUS
0,0,Medionidus simpsonianus (Ochlockonee Moccasins...,12929.html,Animalia,Mollusca,Bivalvia,Unionoida,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n
1,0,Heteromys nelsoni (Nelson's Spiny Pocket Mouse),10009.html,Animalia,Chordata,Mammalia,Rodentia,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the s...,['\n This species occurs in a newly-named n...,Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n..."
2,0,Amauris comorana (Comoro Friar),1001.html,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n"
3,0,"Hippoglossus hippoglossus (Atlantic Halibut, H...",10097.html,Animalia,Chordata,Actinopterygii,Pleuronectiformes,Pleuronectidae,NaN,<div>Atlantic – northeast; Atlantic – northwes...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n
4,0,Hirasea acutissima,10171.html,Animalia,Mollusca,Gastropoda,Stylommatophora,Endodontidae,NaN,Japan (Ogasawara-shoto);,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n

In [28]:
# look at few specific rows (index range exclusive)
df[2:3]

,Unnamed: 0,animalName,htmlPage,KINGDOM,PHYLUM,CLASS,ORDER,FAMILY,ECOLOGY,COUNTRIES,THREAT_PARAGRAPH,CONSERVATION_PARAGRAPH,POP_TREND,STATUS
2,0,Amauris comorana (Comoro Friar),1001.html,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n"

In [29]:
# look at few specific cells
df.ix[2:4,['animalName']]

                                          animalName
2                    Amauris comorana (Comoro Friar)
3  Hippoglossus hippoglossus (Atlantic Halibut, H...
4                                 Hirasea acutissima

In [30]:
# (practice) make subset dataframe of just the animalia kingdom
animaliaDf = df[df['KINGDOM'] == "Animalia"]
animaliaDf.head()

,Unnamed: 0,animalName,htmlPage,KINGDOM,PHYLUM,CLASS,ORDER,FAMILY,ECOLOGY,COUNTRIES,THREAT_PARAGRAPH,CONSERVATION_PARAGRAPH,POP_TREND,STATUS
0,0,Medionidus simpsonianus (Ochlockonee Moccasins...,12929.html,Animalia,Mollusca,Bivalvia,Unionoida,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n
1,0,Heteromys nelsoni (Nelson's Spiny Pocket Mouse),10009.html,Animalia,Chordata,Mammalia,Rodentia,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the s...,['\n This species occurs in a newly-named n...,Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n..."
2,0,Amauris comorana (Comoro Friar),1001.html,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n"
3,0,"Hippoglossus hippoglossus (Atlantic Halibut, H...",10097.html,Animalia,Chordata,Actinopterygii,Pleuronectiformes,Pleuronectidae,NaN,<div>Atlantic – northeast; Atlantic – northwes...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n
4,0,Hirasea acutissima,10171.html,Animalia,Mollusca,Gastropoda,Stylommatophora,Endodontidae,NaN,Japan (Ogasawara-shoto);,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n

In [35]:
# edit df to include only our 10 features of interest
df = df.ix[0:,['animalName','CLASS','ORDER','FAMILY','ECOLOGY','COUNTRIES','THREAT_PARAGRAPH','CONSERVATION_PARAGRAPH','POP_TREND','STATUS']]

In [80]:
# fix animalName to be just the animal's nickname/common name
animalNameVec = df.ix[0:,['animalName']]
count = 0
total = 0
for index, row in df.iterrows():
    nameString = row['animalName']
    #print(row['animalName'])
    #print(nameString)
    #print(nameString.find("/("))
    if nameString.find("/(")!=-1:
        count = count + 1
        total = 1 + total
    else:
        total = 1 + total

print(total)
print(count)
#df.head()
#df[df['animalName'].str.contains("()")]
#print(df['animalName'])
#df[df['animalName'].str.contains("(")]

#print(df.ix[15:15,["animalName"]])
#df.get_value(0,'animalName')

# set to updated name
#df.set_value('C', 'x', 10)

7915
1891

In [ ]:
# make animalName the index
#df = df.set_index(['animalName'])

In [114]:
# Count the number of missing values for each feature
def countMissingValues(df, indexString):
    numMissing = 0
    totalCount = 0
    for index, row in df.iterrows():
        cellContents = row[indexString]
        #print(indexString)
        if not isinstance(cellContents,str):
            if math.isnan(cellContents):
                numMissing = numMissing + 1
                
        totalCount = 1 + totalCount
        
                
    return [numMissing,totalCount]

for column in df:
    [numMissing,totalCount] = countMissingValues(df,column)
    print(str(column) + ": missing " + str(numMissing) + "/" + str(totalCount) + " items (" + "%0.2f" % (100.0*float(numMissing)/float(totalCount)) + "%)")

Unnamed: 0: missing 0/7915 items (0.00%)
animalName: missing 0/7915 items (0.00%)
htmlPage: missing 0/7915 items (0.00%)
KINGDOM: missing 0/7915 items (0.00%)
PHYLUM: missing 0/7915 items (0.00%)
CLASS: missing 0/7915 items (0.00%)
ORDER: missing 0/7915 items (0.00%)
FAMILY: missing 0/7915 items (0.00%)
ECOLOGY: missing 1640/7915 items (20.72%)
COUNTRIES: missing 2/7915 items (0.03%)
THREAT_PARAGRAPH: missing 2279/7915 items (28.79%)
CONSERVATION_PARAGRAPH: missing 2775/7915 items (35.06%)
POP_TREND: missing 3392/7915 items (42.86%)
STATUS: missing 0/7915 items (0.00%)