In [10]:
#Read in Redlist

import pandas as pd
import py_entitymatching as em
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
style.use('ggplot')

# Read in csv as dataframe
rl = em.read_csv_metadata("tenFeaturesRedlist.csv", encoding="ISO-8859-1", key='id')
# glance at first few rows
rl.head()

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

,id,name,genus,family,ecology,countries,threat_paragraph,conservation_paragraph,pop_trend,status,country_count
0,0,Ochlockonee Moccasinshell,Medionidus,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n,1
1,1,Nelson's Spiny Pocket Mouse,Heteromys,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the significant forest loss in its habitat. Habitat fra...,"['\n This species occurs in a newly-named national park, Tacana, in Mexico.\n\n \n ']",Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n",2
2,2,Comoro Friar,Amauris,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n",1
3,3,"Atlantic Halibut, Halibut",Hippoglossus,Pleuronectidae,NaN,<div>Atlantic  northeast; Atlantic  northwest</div>; Canada (Newfoundland I); Denmark; Far...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n,15
4,10,Oktibbeha Riverlet Crayfish,Hobbseus,Cambaridae,Freshwater,United States (Mississippi);,\n This species is threatened by habitat degradation through residential and urban developmen...,"['\n', <span style=""font-style: italic;""></span>, 'This species has been given the Global Herita...",Unknown,\n Endangered\n\n\n B1ab(iii)\n\n,1

In [ ]:
# CME
em.get_key(rl) # get key

# Note: The id column of the  redlist csv doesn't actually look like the object created here (rl).  In the csv,
# id numbers jump around since they represent original row number of the original scraped data csv.  Apparently
# this library can detect what we want and enumerate things in order if you give it a key feature like this.

In [20]:
#Read in ARKIVE
# Read in csv as dataframe
ar = em.read_csv_metadata("arkive table analysis/output.csv", encoding="ISO-8859-1", key='id')

# glance at first few rows
ar.head()

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

,id,scientific_name,name,kingdom,phylum,class,order,family,genus,size,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,0,Alcatraz de Abbott,Piquero de Abbott,Abbott's booby,Animalia,Chordata,Aves,Pelecaniformes,Sulidae,Papasula (1),...,The majority of Abbott's booby nest sites occur within the Christmas Island National Park which ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AbbotÈs duiker,AbbottÈs duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus (1),50  60 kg (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Cisticole des Aberdares,Aberdare cisticola,Animalia,Chordata,Aves,Passeriformes,Cisticolidae,Cisticola (1),Cisticola (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Adelaide pigmy blue-tongue skink,pygmy bluetongue,Adelaide pygmy bluetongue skink,Animalia,Chordata,Reptilia,Squamata,Scincidae,Tiliqua (1),...,The South Australia Department of Environment and Conservation has produced a National Recovery ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Adriatic trout,softmouth trout,Adriatic salmon,Animalia,Chordata,Actinopterygii,Salmoniformes,Salmonidae,Salmo (1),...,There are currently no known conservation measures in place for the Adriatic salmon (1) (5). It ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Bejeque gomero,Aeonium,Plantae,Tracheophyta,Magnoliopsida,Rosales,Crassulaceae,Aeonium (1),Aeonium (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,black-footed penguin,jackass penguin,African penguin,Animalia,Chordata,Aves,Sphenisciformes,Spheniscidae,Spheniscus (1),...,The African penguin is protected by its listing on Appendix II of the Convention on Internationa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Afrormosia,Assamela,Kokrodua,African teak,Plantae,Tracheophyta,Magnoliopsida,Fabales,Leguminosae,...,The trade in the timber from this tree has soared since 1948 and the degree of exploitation has ...,Urgent regulation of logging is necessary including the employment of Forestry Stewardship Counc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Cape hunting dog,painted hunting dog,African wild dog,Animalia,Chordata,Mammalia,Carnivora,Canidae,Lycaon (1),...,The current population of African wild dogs is estimated to be less than 5500 individuals (2). T...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Kaori de montagne,Kaori nain,Agathis,Plantae,Tracheophyta,Coniferopsida,Coniferales,Araucariaceae,Agathis (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Dark-handed gibbon,Agile gibbon,Animalia,Chordata,Mammalia,Primates,Hylobatidae,Hylobates (1),Hylobates (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Hemignathus wilsoni,Akiapola'au,Animalia,Chordata,Aves,Passeriformes,Drepanididae,Hemignathus (1),Length: 14 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Long-tailed tyrannulet,Alagoas tyrannulet,Animalia,Chordata,Aves,Passeriformes,Tyrannidae,Phylloscartes (1),Phylloscartes (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Albanian frog,Albanian pool frog,Balkan frog,Virpazar frog,Albanian water frog,Animalia,Chordata,Amphibia,Anura,...,Male length: c. 71 mm (2)Female length: c. 74 mm (2),The main threats to the Albanian water frog are the drainage of wetlands and agrochemical and in...,The Albanian water frog is listed on Appendix III of the Bern Convention which means that it sho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Himalayan musk deer,Alpine musk deer,Animalia,Chordata,Mammalia,Cetartiodactyla,Moschidae,Moschus (1),Moschus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Souimanga d'Usambara,Amani sunbird,Animalia,Chordata,Aves,Passeriformes,Nectariniidae,Anthreptes (1),Anthreptes (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Umburana Do Cheiro,Amburana,Plantae,Tracheophyta,Magnoliopsida,Fabales,Leguminosae,Amburana (1),Amburana (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Oro de risco,Anagyris,Plantae,Tracheophyta,Magnoliopsida,Fabales,Leguminosae,Anagyris (1),Anagyris (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Anaxagorea costaricensis,Anaxagorea,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Anaxagorea (1),Anaxagorea (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Rhinolophus famulus,Andaman horseshoe bat,Animalia,Chordata,Mammalia,Chiroptera,Rhinolophidae,Rhinoplophus (1),Rhinoplophus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Andean mountain cat,mountain cat.,Andean cat,Animalia,Chordata,Mammalia,Carnivora,Felidae,Oreailurus (1),...,International trade of this species is prohibited by its listing on Appendix I of CITES (3) and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,AndersonÈs newt,Ryukyu spiny newt,AndersonÈs crocodile newt,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Echinotriton (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Lake Junin frog,Andes smooth frog,Animalia,Chordata,Amphibia,Anura,Leptodactylidae,Telmatobius (1),Telmatobius (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Mantidactylus brygoomantis madecassus,Rhacophorus philautus madecassus,Andringitra Madagascar frog,Animalia,Chordata,Amphibia,Anura,Mantellidae,Mantidactylus (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Mantidactylus microtympanum,AngelÈs Madagascar frog,Animalia,Chordata,Amphibia,Anura,Mantellidae,Boehmantis (1),Male length: 5.3 cm (2)Female length: 7.6 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Blind swamp eel,Anguila ciega,Animalia,Chordata,Actinopterygii,Synbranchiformes,Synbranchidae,Ophisternon (1),Length: up to at least 32.5 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Car-cara,Aniba,Plantae,Tracheophyta,Magnoliopsida,Laurales,Lauraceae,Aniba (1),Aniba (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Lepilemur septentrionalis,Ankarana sportive lemur,Animalia,Chordata,Mammalia,Primates,Lepilemuridae,Lepilemur (1),Lepilemur (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Annickia kummeriae,Enantia kummerae,Enantia kummeriae,Annickia,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Norops amplisquamosus,Anolis,Animalia,Chordata,Reptilia,Squamata,Polychrotidae,Anolis (1),Anolis (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,757,Eleutherodactylus planirostris ssp. casparii,Robber frog,Animalia,Chordata,Amphibia,Anura,Eleutherodactylidae,Eleutherodactylus (1),Eleutherodactylus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,758,Rana De Riachuelo De Pernas Largas,Robber frog,Animalia,Chordata,Amphibia,Anura,Craugastoridae,Craugastor (1),Craugastor (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759,759,Eleutherodactylus laevissimus,Hylodes laevissimus,Robber frog,Animalia,Chordata,Amphibia,Anura,Leptodactylidae,Craugastor (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760,760,Eleutherodactylus sandersoni,Robber frog,Animalia,Chordata,Amphibia,Anura,Craugastoridae,Craugastor (1),Craugastor (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,761,Eleutherodactylus varians ionthus,Robber frog,Animalia,Chordata,Amphibia,Anura,Eleutherodactylidae,Eleutherodactylus (1),Eleutherodactylus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,762,Codringtonia codringtonia,Rock snail,Animalia,Mollusca,Gastropoda,Stylommatophora,Helicidae,Codringtonia (1),Codringtonia (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,763,Arthroleptides yakusini,Rocky river frog,Animalia,Chordata,Amphibia,Anura,Petropedetidae,Petropedetes (1),Petropedetes (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,764,Rodrigues brush-warbler,Rodrigues warbler,Animalia,Chordata,Aves,Passeriformes,Sylviidae,Acrocephalus (1),11  13 g (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,765,Chirixalus romeri,Philautus romeri,Romer's treefrog,Animalia,Chordata,Amphibia,Anura,Rhacophoridae,Liuixalus (1),...,Romer\u2019s treefrog is one of three amphibian species listed under the Hong Kong Wild Animals ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,766,Lacerta rostombekovi,Rostombekov's lizard,Animalia,Chordata,Reptilia,Squamata,Lacertidae,Darevskia (1),Darevskia (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,767,Tough-snouted Giant Gecko,Rough-snouted giant gecko,Animalia,Chordata,Reptilia,Squamata,Diplodactylidae,Rhacodactylus (1),Rhacodactylus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,768,Gecko Diurne De L'Ile Ronde,Phelsume De L'Ile Ronde,Round Island day gecko,Animalia,Chordata,Reptilia,Squamata,Gekkonidae,Phelsuma (1),...,A captive breeding programme has taken place at the Durrell Wildlife Conservation Trust (formerl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,769,Boa De L'Ile Ronde De Dussumier,Round Island keel-scaled boa,Animalia,Chordata,Reptilia,Squamata,Bolyeridae,Casarea (1),Length: 1 - 1.5m (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,770,Colibr_ Real,Royal sunangel,Animalia,Chordata,Aves,Apodiformes,Trochilidae,Heliangelus (1),3.5  4.5 g (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,771,R_ppellÈs griffon,R_ppellÈs vulture,RueppellÈs griffon,Animalia,Chordata,Aves,Falconiformes,Accipitridae,Gyps (1),...,Rueppell\u2019s griffon occurs in a number of protected areas throughout its range including Ser...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,772,Jankowski's bunting,Rufous-backed bunting,Animalia,Chordata,Aves,Passeriformes,Emberizidae,Emberiza (1),Emberiza (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,773,Nilgiri laughingthrush,Rufous-breasted laughingthrush,Animalia,Chordata,Aves,Passeriformes,Timaliidae,Garrulax (1),Garrulax (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774,774,rufous-breasted warbling finch,Rufous-breasted warbling-finch,Animalia,Chordata,Aves,Passeriformes,Emberizidae,Poospiza (1),Poospiza (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,775,Eleutherodactylus ruizi,Ruiz's robber frog,Animalia,Chordata,Amphibia,Anura,Strabomantidae,Strabomantis (1),Strabomantis (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,776,Dinagat batomys,Dinagat hairy-tailed rat,Russet batomys,Animalia,Chordata,Mammalia,Rodentia,Muridae,Batomys (1),...,There are not known to be any specific conservation measures currently in place for this poorly-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,777,Ruda Gomera,Ruda Salvaje,Ruta,Plantae,Tracheophyta,Magnoliopsida,Sapindales,Rutaceae,Ruta (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,778,Babina psaltes,Rana okinavana,Ryukyu brown frog,Animalia,Chordata,Amphibia,Anura,Ranidae,Babina (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,779,Rana narina,Ryukyu tip-nosed frog,Animalia,Chordata,Amphibia,Anura,Ranidae,Odorrana (1),Odorrana (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780,780,Madagascar marsh harrier,R©union harrier,Animalia,Chordata,Aves,Falconiformes,Accipitridae,Circus (1),Length: 54 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,781,Cyprås de Duprez,Cyprås de l'Atlas,Saharan cypress,Plantae,Tracheophyta,Coniferopsida,Coniferales,Cupressaceae,Cupressus (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,782,St Lucia racer,Saint Lucia racer,Animalia,Chordata,Reptilia,Squamata,Dipsadidae (1) (2),Liophis (3),Average snout-vent length: 55 cm (4)Average total length: 74cm (4)Average weight: 67 g (4),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,783,R¢le d'Olivier,Sakalava rail,Animalia,Chordata,Aves,Gruiformes,Rallidae,Amaurornis (1),Length: 19 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784,784,saker,Saker falcon,Animalia,Chordata,Aves,Falconiformes,Falconidae,Falco (1),Male length: 45 cm(2)Female length: 55 cm (2)Male wingspan: 100Î¾- 110 cm (2)Female wingspan: 12...,...,The saker falcon is protected across much of its range particularly in Eastern Europe where cont...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,785,red-bellied harvest mouse,salt marsh harvest mouse,Saltmarsh harvest mouse,Animalia,Chordata,Mammalia,Rodentia,Cricetidae,Reithrodontomys (1),...,The saltmarsh harvest mouse is listed as Endangered by the U.S. Fish and Wildlife Service (11) a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,786,SalvinÈs salamander,Salvin's mushroomtongue salamander,Animalia,Chordata,Amphibia,Caudata,Plethodontidae,Bolitoglossa (1),Snout-vent length: 51 - 68 mm (2) (3)Tail length: c. 51 mm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:

# Remove parentheticals from arkive genus
# author: @andrewedstrom
# Next, actually remove scientific name and replace with common name(s)
#ar = arBeforeRemovingNames # in case script now run completely in order
#ar = ar[ar.animalName.str.contains("\(") == True] # update df to contain only tuples that contain common/nick names
error = 0 # make sure there's no wonky cases

# remove parenthesis contents
for index, row in ar.iterrows():
    genus = str(row['genus'])

    pstart = genus.find("(")
    if pstart !=-1:        
        # extract full common/nick name
        noparens = genus[0:pstart]
        ar.loc[index, 'genus'] = noparens
    else:
        error = error + 1


print(error)        
ar

275

,id,scientific_name,name,kingdom,phylum,class,order,family,genus,size,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,0,Alcatraz de Abbott,Piquero de Abbott,Abbott's booby,Animalia,Chordata,Aves,Pelecaniformes,Sulidae,Papasula (1),...,The majority of Abbott's booby nest sites occur within the Christmas Island National Park which ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AbbotÈs duiker,AbbottÈs duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus,50  60 kg (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Cisticole des Aberdares,Aberdare cisticola,Animalia,Chordata,Aves,Passeriformes,Cisticolidae,Cisticola,Cisticola (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Adelaide pigmy blue-tongue skink,pygmy bluetongue,Adelaide pygmy bluetongue skink,Animalia,Chordata,Reptilia,Squamata,Scincidae,Tiliqua (1),...,The South Australia Department of Environment and Conservation has produced a National Recovery ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Adriatic trout,softmouth trout,Adriatic salmon,Animalia,Chordata,Actinopterygii,Salmoniformes,Salmonidae,Salmo (1),...,There are currently no known conservation measures in place for the Adriatic salmon (1) (5). It ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Bejeque gomero,Aeonium,Plantae,Tracheophyta,Magnoliopsida,Rosales,Crassulaceae,Aeonium,Aeonium (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,black-footed penguin,jackass penguin,African penguin,Animalia,Chordata,Aves,Sphenisciformes,Spheniscidae,Spheniscus (1),...,The African penguin is protected by its listing on Appendix II of the Convention on Internationa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Afrormosia,Assamela,Kokrodua,African teak,Plantae,Tracheophyta,Magnoliopsida,Fabales,Leguminosae,...,The trade in the timber from this tree has soared since 1948 and the degree of exploitation has ...,Urgent regulation of logging is necessary including the employment of Forestry Stewardship Counc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Cape hunting dog,painted hunting dog,African wild dog,Animalia,Chordata,Mammalia,Carnivora,Canidae,Lycaon (1),...,The current population of African wild dogs is estimated to be less than 5500 individuals (2). T...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Kaori de montagne,Kaori nain,Agathis,Plantae,Tracheophyta,Coniferopsida,Coniferales,Araucariaceae,Agathis (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Dark-handed gibbon,Agile gibbon,Animalia,Chordata,Mammalia,Primates,Hylobatidae,Hylobates,Hylobates (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Hemignathus wilsoni,Akiapola'au,Animalia,Chordata,Aves,Passeriformes,Drepanididae,Hemignathus,Length: 14 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Long-tailed tyrannulet,Alagoas tyrannulet,Animalia,Chordata,Aves,Passeriformes,Tyrannidae,Phylloscartes,Phylloscartes (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Albanian frog,Albanian pool frog,Balkan frog,Virpazar frog,Albanian water frog,Animalia,Chordata,Amphibia,Anura,...,Male length: c. 71 mm (2)Female length: c. 74 mm (2),The main threats to the Albanian water frog are the drainage of wetlands and agrochemical and in...,The Albanian water frog is listed on Appendix III of the Bern Convention which means that it sho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Himalayan musk deer,Alpine musk deer,Animalia,Chordata,Mammalia,Cetartiodactyla,Moschidae,Moschus,Moschus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Souimanga d'Usambara,Amani sunbird,Animalia,Chordata,Aves,Passeriformes,Nectariniidae,Anthreptes,Anthreptes (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Umburana Do Cheiro,Amburana,Plantae,Tracheophyta,Magnoliopsida,Fabales,Leguminosae,Amburana,Amburana (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Oro de risco,Anagyris,Plantae,Tracheophyta,Magnoliopsida,Fabales,Leguminosae,Anagyris,Anagyris (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Anaxagorea costaricensis,Anaxagorea,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,Anaxagorea,Anaxagorea (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Rhinolophus famulus,Andaman horseshoe bat,Animalia,Chordata,Mammalia,Chiroptera,Rhinolophidae,Rhinoplophus,Rhinoplophus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Andean mountain cat,mountain cat.,Andean cat,Animalia,Chordata,Mammalia,Carnivora,Felidae,Oreailurus (1),...,International trade of this species is prohibited by its listing on Appendix I of CITES (3) and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,AndersonÈs newt,Ryukyu spiny newt,AndersonÈs crocodile newt,Animalia,Chordata,Amphibia,Caudata,Salamandridae,Echinotriton (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Lake Junin frog,Andes smooth frog,Animalia,Chordata,Amphibia,Anura,Leptodactylidae,Telmatobius,Telmatobius (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Mantidactylus brygoomantis madecassus,Rhacophorus philautus madecassus,Andringitra Madagascar frog,Animalia,Chordata,Amphibia,Anura,Mantellidae,Mantidactylus (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Mantidactylus microtympanum,AngelÈs Madagascar frog,Animalia,Chordata,Amphibia,Anura,Mantellidae,Boehmantis,Male length: 5.3 cm (2)Female length: 7.6 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Blind swamp eel,Anguila ciega,Animalia,Chordata,Actinopterygii,Synbranchiformes,Synbranchidae,Ophisternon,Length: up to at least 32.5 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Car-cara,Aniba,Plantae,Tracheophyta,Magnoliopsida,Laurales,Lauraceae,Aniba,Aniba (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Lepilemur septentrionalis,Ankarana sportive lemur,Animalia,Chordata,Mammalia,Primates,Lepilemuridae,Lepilemur,Lepilemur (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Annickia kummeriae,Enantia kummerae,Enantia kummeriae,Annickia,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Annonaceae,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Norops amplisquamosus,Anolis,Animalia,Chordata,Reptilia,Squamata,Polychrotidae,Anolis,Anolis (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,757,Eleutherodactylus planirostris ssp. casparii,Robber frog,Animalia,Chordata,Amphibia,Anura,Eleutherodactylidae,Eleutherodactylus,Eleutherodactylus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,758,Rana De Riachuelo De Pernas Largas,Robber frog,Animalia,Chordata,Amphibia,Anura,Craugastoridae,Craugastor,Craugastor (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759,759,Eleutherodactylus laevissimus,Hylodes laevissimus,Robber frog,Animalia,Chordata,Amphibia,Anura,Leptodactylidae,Craugastor (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760,760,Eleutherodactylus sandersoni,Robber frog,Animalia,Chordata,Amphibia,Anura,Craugastoridae,Craugastor,Craugastor (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,761,Eleutherodactylus varians ionthus,Robber frog,Animalia,Chordata,Amphibia,Anura,Eleutherodactylidae,Eleutherodactylus,Eleutherodactylus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,762,Codringtonia codringtonia,Rock snail,Animalia,Mollusca,Gastropoda,Stylommatophora,Helicidae,Codringtonia,Codringtonia (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,763,Arthroleptides yakusini,Rocky river frog,Animalia,Chordata,Amphibia,Anura,Petropedetidae,Petropedetes,Petropedetes (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,764,Rodrigues brush-warbler,Rodrigues warbler,Animalia,Chordata,Aves,Passeriformes,Sylviidae,Acrocephalus,11  13 g (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,765,Chirixalus romeri,Philautus romeri,Romer's treefrog,Animalia,Chordata,Amphibia,Anura,Rhacophoridae,Liuixalus (1),...,Romer\u2019s treefrog is one of three amphibian species listed under the Hong Kong Wild Animals ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,766,Lacerta rostombekovi,Rostombekov's lizard,Animalia,Chordata,Reptilia,Squamata,Lacertidae,Darevskia,Darevskia (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,767,Tough-snouted Giant Gecko,Rough-snouted giant gecko,Animalia,Chordata,Reptilia,Squamata,Diplodactylidae,Rhacodactylus,Rhacodactylus (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,768,Gecko Diurne De L'Ile Ronde,Phelsume De L'Ile Ronde,Round Island day gecko,Animalia,Chordata,Reptilia,Squamata,Gekkonidae,Phelsuma (1),...,A captive breeding programme has taken place at the Durrell Wildlife Conservation Trust (formerl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,769,Boa De L'Ile Ronde De Dussumier,Round Island keel-scaled boa,Animalia,Chordata,Reptilia,Squamata,Bolyeridae,Casarea,Length: 1 - 1.5m (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,770,Colibr_ Real,Royal sunangel,Animalia,Chordata,Aves,Apodiformes,Trochilidae,Heliangelus,3.5  4.5 g (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,771,R_ppellÈs griffon,R_ppellÈs vulture,RueppellÈs griffon,Animalia,Chordata,Aves,Falconiformes,Accipitridae,Gyps (1),...,Rueppell\u2019s griffon occurs in a number of protected areas throughout its range including Ser...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,772,Jankowski's bunting,Rufous-backed bunting,Animalia,Chordata,Aves,Passeriformes,Emberizidae,Emberiza,Emberiza (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,773,Nilgiri laughingthrush,Rufous-breasted laughingthrush,Animalia,Chordata,Aves,Passeriformes,Timaliidae,Garrulax,Garrulax (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774,774,rufous-breasted warbling finch,Rufous-breasted warbling-finch,Animalia,Chordata,Aves,Passeriformes,Emberizidae,Poospiza,Poospiza (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,775,Eleutherodactylus ruizi,Ruiz's robber frog,Animalia,Chordata,Amphibia,Anura,Strabomantidae,Strabomantis,Strabomantis (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,776,Dinagat batomys,Dinagat hairy-tailed rat,Russet batomys,Animalia,Chordata,Mammalia,Rodentia,Muridae,Batomys (1),...,There are not known to be any specific conservation measures currently in place for this poorly-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,777,Ruda Gomera,Ruda Salvaje,Ruta,Plantae,Tracheophyta,Magnoliopsida,Sapindales,Rutaceae,Ruta (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,778,Babina psaltes,Rana okinavana,Ryukyu brown frog,Animalia,Chordata,Amphibia,Anura,Ranidae,Babina (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,779,Rana narina,Ryukyu tip-nosed frog,Animalia,Chordata,Amphibia,Anura,Ranidae,Odorrana,Odorrana (1),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780,780,Madagascar marsh harrier,R©union harrier,Animalia,Chordata,Aves,Falconiformes,Accipitridae,Circus,Length: 54 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,781,Cyprås de Duprez,Cyprås de l'Atlas,Saharan cypress,Plantae,Tracheophyta,Coniferopsida,Coniferales,Cupressaceae,Cupressus (1),...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,782,St Lucia racer,Saint Lucia racer,Animalia,Chordata,Reptilia,Squamata,Dipsadidae (1) (2),Liophis,Average snout-vent length: 55 cm (4)Average total length: 74cm (4)Average weight: 67 g (4),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,783,R¢le d'Olivier,Sakalava rail,Animalia,Chordata,Aves,Gruiformes,Rallidae,Amaurornis,Length: 19 cm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784,784,saker,Saker falcon,Animalia,Chordata,Aves,Falconiformes,Falconidae,Falco,Male length: 45 cm(2)Female length: 55 cm (2)Male wingspan: 100Î¾- 110 cm (2)Female wingspan: 12...,...,The saker falcon is protected across much of its range particularly in Eastern Europe where cont...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,785,red-bellied harvest mouse,salt marsh harvest mouse,Saltmarsh harvest mouse,Animalia,Chordata,Mammalia,Rodentia,Cricetidae,Reithrodontomys (1),...,The saltmarsh harvest mouse is listed as Endangered by the U.S. Fish and Wildlife Service (11) a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,786,SalvinÈs salamander,Salvin's mushroomtongue salamander,Animalia,Chordata,Amphibia,Caudata,Plethodontidae,Bolitoglossa,Snout-vent length: 51 - 68 mm (2) (3)Tail length: c. 51 mm (2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Rule-based blocking over input tables
# first get features that can be used
feature_table = em.get_features_for_blocking(rl, ar)

# CME:  Hmm.. how exactly are these features populated?  What is a 
# left attribute vs a right attribute?

In [15]:
len(feature_table)

20

In [16]:
#list name related features
feature_table[feature_table.left_attribute=='name']

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
4,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x10c0b2e18>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x10c0b2d08>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x10c0fa378>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x10c0fa620>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,name_name_lev_dist,name,name,None,None,lev_dist,<function name_name_lev_dist at 0x10c0fa510>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,name_name_lev_sim,name,name,None,None,lev_sim,<function name_name_lev_sim at 0x10c0fa598>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x10c0fa488>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x10c0fa6a8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [19]:
# CME -- I'm realizing now that we may want to start with the attribute equivalence
# blocker for names and see where that leaves us.  On my TO-DO.
equivB = em.AttrEquivalenceBlocker()
C0 = equivB.block_tables(rl, ar, 'name', 'name',
                    l_output_attrs=['name', 'genus'], 
                    r_output_attrs=['name', 'genus'])
C0

# lolwat this reveals zero matches?

    _id  ltable_id  rtable_id  ltable_genus  rtable_genus
0     0       4114        368  Pristimantis  Pristimantis
1     1       4123        368  Pristimantis  Pristimantis
2     2       4126        368  Pristimantis  Pristimantis
3     3       4127        368  Pristimantis  Pristimantis
4     4       4128        368  Pristimantis  Pristimantis
5     5       4129        368  Pristimantis  Pristimantis
6     6       4141        368  Pristimantis  Pristimantis
7     7       4149        368  Pristimantis  Pristimantis
8     8       4156        368  Pristimantis  Pristimantis
9     9       4171        368  Pristimantis  Pristimantis
10   10       4181        368  Pristimantis  Pristimantis
11   11       4190        368  Pristimantis  Pristimantis
12   12       4193        368  Pristimantis  Pristimantis
13   13       4218        368  Pristimantis  Pristimantis
14   14       4231        368  Pristimantis  Pristimantis
15   15       4234        368  Pristimantis  Pristimantis
16   16       4247        368  Pristimantis  Pristimantis
17   17       4249        368  Pristimantis  Pristimantis
18   18       7433        368  Pristimantis  Pristimantis
19   19       7490        368  Pristimantis  Pristimantis

In [32]:
#Do overlap blocking on name to get candidate set
#Perform some kind of blocking to find candidate pairs
ob = em.OverlapBlocker()
C0 = ob.block_tables(rl, ar,'name', 'name', 
                     l_output_attrs=['name', 'genus'], 
                     r_output_attrs=['name', 'genus'])
C0

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,rtable_name,rtable_genus
0,0,7316,0,Coahuilix De Hubbs Snail,Coahuilix,Piquero de Abbott,Sulidae
1,1,4580,0,"Carbonera Pupfish, Perrito de Carbonera",Cyprinodon,Piquero de Abbott,Sulidae
2,2,7546,0,Lago de las Minas Frog,Lithobates,Piquero de Abbott,Sulidae
3,3,4409,0,Moravia de Chirripo Salamander,Bolitoglossa,Piquero de Abbott,Sulidae
4,4,5809,3,Torreya Pygmy Grasshopper,Tettigidea,pygmy bluetongue,Scincidae
5,5,207,3,Oxleyan Pygmy Perch,Nannoperca,pygmy bluetongue,Scincidae
6,6,5154,3,Dwarf Pygmy Goby,Pandaka,pygmy bluetongue,Scincidae
7,7,5274,3,"Nguru Pygmy Chameleon, Nguru Spiny Pygmy Chameleon",Rhampholeon,pygmy bluetongue,Scincidae
8,8,7894,3,Pygmy Hog Sucking Louse,Haematopinus,pygmy bluetongue,Scincidae
9,9,2906,3,"Green Pygmy Chameleon, Pare Pygmy Chameleon",Rhampholeon,pygmy bluetongue,Scincidae
10,10,7332,3,Pygmy Sculpin,Cottus,pygmy bluetongue,Scincidae
11,11,1470,3,"Adelaide Pigmy Blue-tongue Skink, Pygmy Bluetongue",Tiliqua,pygmy bluetongue,Scincidae
12,12,5775,3,Pygmy Pebblesnail,Somatogyrus,pygmy bluetongue,Scincidae
13,13,333,4,Apache Trout,Oncorhynchus,softmouth trout,Salmonidae
14,14,4951,4,Kunming Snout Trout,Schizothorax,softmouth trout,Salmonidae
15,15,5058,4,Apache Trout,Oncorhynchus,softmouth trout,Salmonidae
16,16,77,4,Trout Cod,Maccullochella,softmouth trout,Salmonidae
17,17,61,8,Painted Rocksnail,Leptoxis,painted hunting dog,Canidae
18,18,5299,8,Painted Clubshell,Pleurobema,painted hunting dog,Canidae
19,19,2777,10,"Bornean Agile Gibbon, Bornean White-bearded Gibbon",Hylobates,Agile gibbon,Hylobates
20,20,7373,13,Colombian Backpack Frog,Hyla,Albanian pool frog,Amphibia
21,21,7887,13,Vanzolini's Spiny-chest Frog,Alsodes,Albanian pool frog,Amphibia
22,22,4610,13,Mazumbai Warty Frog,Callulina,Albanian pool frog,Amphibia
23,23,4611,13,Northern Moss Frog,Arthroleptella,Albanian pool frog,Amphibia
24,24,1515,13,"Andes Smooth Frog, Lake Junin Frog, Marbled Water Frog",Telmatobius,Albanian pool frog,Amphibia
25,25,1108,13,Neiba Telegraph Frog,Eleutherodactylus,Albanian pool frog,Amphibia
26,26,7842,13,"Karl's Robber Frog, Stream Coqui, Webbed-footed Coqui",Eleutherodactylus,Albanian pool frog,Amphibia
27,27,58,13,"Long-toed Tree Frog, Weza Forest Tree Frog",Leptopelis,Albanian pool frog,Amphibia
28,28,7550,13,Guerreran Leopard Frog,Lithobates,Albanian pool frog,Amphibia
29,29,71,13,Green-thighed Frog,Litoria,Albanian pool frog,Amphibia
...,...,...,...,...,...,...,...
30372,30372,7582,786,Zapotec Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30373,30373,7583,786,Finca Chiblac Salamander,Bradytriton,Salvin's mushroomtongue salamander,Bolitoglossa
30374,30374,7584,786,Common Splayfoot Salamander,Chiropterotriton,Salvin's mushroomtongue salamander,Bolitoglossa
30375,30375,7585,786,"Big-footed Salamander, Bigfoot Splayfoot Salamander",Chiropterotriton,Salvin's mushroomtongue salamander,Bolitoglossa
30376,30376,7587,786,Baja Verapaz Salamander,Cryptotriton,Salvin's mushroomtongue salamander,Bolitoglossa
30377,30377,7588,786,Volcan Tajumulco Bromeliad Salamander,Dendrotriton,Salvin's mushroomtongue salamander,Bolitoglossa
30378,30378,7589,786,Forest Bromeliad Salamander,Dendrotriton,Salvin's mushroomtongue salamander,Bolitoglossa
30379,30379,7590,786,Guatemalan Bromeliad Salamander,Dendrotriton,Salvin's mushroomtongue salamander,Bolitoglossa
30380,30380,7593,786,Cartago Worm Salamander,Oedipina,Salvin's mushroomtongue salamander,Bolitoglossa
30381,30381,7594,786,Maritime Worm Salamander,Oedipina,Salvin's mushroomtongue salamander,Bolitoglossa
30382,30382,7595,786,El Empalme Worm Salamander,Oedipina,Salvin's mushroomtongue salamander,Bolitoglossa
30383,30383,7596,786,Townsend's Salamander,Parvimolge,Salvin's mushroomtongue salamander,Bolitoglossa
30384,30384,7597,786,Imperial Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30385,30385,7598,786,Anita's False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30386,30386,7599,786,Brown False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30387,30387,7600,786,Jalpa False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30388,30388,1423,786,Supramonte Cave Salamander,Speleomantes,Salvin's mushroomtongue salamander,Bolitoglossa
30389,30389,7602,786,Sierra Juarez False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30390,30390,7603,786,Veracruz Green Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30391,30391,7604,786,"Black-spotted False Brook Salamander, Black-spotted Salamander",Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30392,30392,7605,786,Royal False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30393,30393,7606,786,Roberts' False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30394,30394,7607,786,Leaping False Brook Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30395,30395,7608,786,"Smith's False Brook Salamander, Smith's Salamander",Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30396,30396,7609,786,Green-flecked Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30397,30397,7610,786,Claw-toothed Salamander,Pseudoeurycea,Salvin's mushroomtongue salamander,Bolitoglossa
30398,30398,7612,786,Atoyac Minute Salamander,Thorius,Salvin's mushroomtongue salamander,Bolitoglossa
30399,30399,7614,786,Oaxacan Pigmy Salamander,Thorius,Salvin's mushroomtongue salamander,Bolitoglossa
30400,30400,7616,786,"Cerro San Felipe Pigmy Salamander, Upper Cerro Pigmy Salamander",Thorius,Salvin's mushroomtongue salamander,Bolitoglossa
30401,30401,7617,786,Veracruz Pigmy Salamander,Thorius,Salvin's mushroomtongue salamander,Bolitoglossa

In [33]:
#Only keep candidate pairs which share genus
ab = em.AttrEquivalenceBlocker()
C1 = ob.block_candset(C0, 'genus', 'genus')
C1

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,rtable_name,rtable_genus
19,19,2777,10,"Bornean Agile Gibbon, Bornean White-bearded Gibbon",Hylobates,Agile gibbon,Hylobates
377,377,1515,22,"Andes Smooth Frog, Lake Junin Frog, Marbled Water Frog",Telmatobius,Andes smooth frog,Telmatobius
424,424,4977,22,Hunaco Water Frog,Telmatobius,Andes smooth frog,Telmatobius
463,463,7524,22,Titicaca Water Frog,Telmatobius,Andes smooth frog,Telmatobius
542,542,4108,22,Amable Maria Frog,Telmatobius,Andes smooth frog,Telmatobius
620,620,5807,22,Arico Water Frog,Telmatobius,Andes smooth frog,Telmatobius
630,630,1454,22,Zapahuira Water Frog,Telmatobius,Andes smooth frog,Telmatobius
889,889,55,27,"Light-necked Sportive Lemur, Microdon Sportive Lemur, Small-toothed Sportive Lemur",Lepilemur,Ankarana sportive lemur,Lepilemur
903,903,189,27,Ankarana Sportive Lemur,Lepilemur,Ankarana sportive lemur,Lepilemur
907,907,53,27,Milne-Edwards's Sportive Lemur,Lepilemur,Ankarana sportive lemur,Lepilemur
908,908,54,27,"Dry-bush Weasel Lemur, White-footed Sportive Lemur",Lepilemur,Ankarana sportive lemur,Lepilemur
923,923,4575,35,Aran Rock Lizard,Iberolacerta,Aran rock lizard,Iberolacerta
934,934,4576,35,Aurelio's Rock Lizard,Iberolacerta,Aran rock lizard,Iberolacerta
1333,1333,5816,54,Southern Bluefin Tuna,Thunnus,Atlantic bluefin tuna,Thunnus
1340,1340,4575,58,Aran Rock Lizard,Iberolacerta,AurelioÈs rock lizard,Iberolacerta
1351,1351,4576,58,Aurelio's Rock Lizard,Iberolacerta,AurelioÈs rock lizard,Iberolacerta
1376,1376,2135,64,Baboonwood,Virola,Baboonwood,Virola
1749,1749,352,91,Southern Tailed Birdwing,Ornithoptera,Birdwing butterfly,Ornithoptera
1750,1750,350,91,Queen Alexandra's Birdwing,Ornithoptera,Birdwing butterfly,Ornithoptera
1751,1751,351,91,Wallace's Golden Birdwing,Ornithoptera,Birdwing butterfly,Ornithoptera
2207,2207,4114,118,Sharpsnout Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2226,2226,7433,118,Argelia Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2246,2246,7490,118,Sugar Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2341,2341,4123,118,Wine Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2342,2342,4126,118,Murri Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2343,2343,4127,118,Valle Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2344,2344,4128,118,Cacao Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2345,2345,4129,118,San Antonio Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2346,2346,4141,118,Cryptic Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
2348,2348,4149,118,Serna's Robber Frog,Pristimantis,Bogotacito robber frog,Pristimantis
...,...,...,...,...,...,...,...
29599,29599,5192,766,Charnali Lizard,Darevskia,Rostombekov's lizard,Darevskia
29652,29652,2778,769,"Round Island Boa, Round Island Ground Boa, Round Island Keel-scaled Boa",Casarea,Round Island keel-scaled boa,Casarea
29992,29992,7552,779,"Wuchuan Frog, Wuchuan Odorous Frog",Odorrana,Ryukyu tip-nosed frog,Odorrana
30069,30069,3913,779,Ishikawa's Frog,Odorrana,Ryukyu tip-nosed frog,Odorrana
30207,30207,4356,779,Amami Tip-nosed Frog,Odorrana,Ryukyu tip-nosed frog,Odorrana
30210,30210,4359,779,"Kuang-wu Shan Frog, Kwangwu Odorous Frog",Odorrana,Ryukyu tip-nosed frog,Odorrana
30211,30211,4362,779,"Okinawa Tip-nosed Frog, Ryukyu Island Frog, Ryukyu Tip-nosed Frog",Odorrana,Ryukyu tip-nosed frog,Odorrana
30213,30213,4364,779,Greater Tip-nosed Frog,Odorrana,Ryukyu tip-nosed frog,Odorrana
30306,30306,4619,786,Holy-mountain Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30307,30307,4620,786,Magnificent Web-footed Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30317,30317,4409,786,Moravia de Chirripo Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30318,30318,4410,786,Celaque Mushroomtongue Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30319,30319,4411,786,Cerro Pando Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30320,30320,4412,786,Conant's Mushroomtongue Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30321,30321,4413,786,"Dunn's Mushroomtongue Salamander , Dunn's Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30322,30322,4414,786,"Engelhardt's Mushroomtongue Salamander , Engelhardt's Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30323,30323,4415,786,"Yellow-legged Mushroomtongue Salamander, Yellow-legged Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30324,30324,4416,786,"Yellow-bellied Salamander, Yellowbelly Mushroomtongue Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30325,30325,4417,786,Crater Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30326,30326,4418,786,Mexican Mushroomtongue Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30327,30327,4420,786,"Black Web-fotted Salamander , Cordillera Central Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30328,30328,4421,786,Pandi Mushroomtongue Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30329,30329,4423,786,"Rilett's Mushroomtongue Salamander, Rilett's Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30330,30330,4424,786,Salvin's Mushroomtongue Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30331,30331,4425,786,Cordillera Talamanca Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30332,30332,4426,786,La Palma Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30333,30333,4427,786,"Veracruz Mushroomtongue Salamander, Veracruz Salamander",Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30370,30370,7576,786,Orphan Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30371,30371,7577,786,Cloud Forest Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa
30372,30372,7582,786,Zapotec Salamander,Bolitoglossa,Salvin's mushroomtongue salamander,Bolitoglossa

In [ ]:
#For shits and giggles: