In [1]:
#Read in Redlist

import pandas as pd
import py_entitymatching as em
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
import re
style.use('ggplot')

# Read in csv as dataframe
rl = em.read_csv_metadata("finalRedlist.csv", encoding="ISO-8859-1", key='id')
# glance at first few rows
rl.head()

Metadata file is not present in the given path; proceeding to read the csv file.

,id,name,genus,family,ecology,countries,threat_paragraph,conservation_paragraph,pop_trend,status,country_count
0,0,ochlockonee moccasinshell,Medionidus,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n,1
1,1,nelson's spiny pocket mouse,Heteromys,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the significant forest loss in its habitat. Habitat fra...,"['\n This species occurs in a newly-named national park, Tacana, in Mexico.\n\n \n ']",Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n",2
2,2,comoro friar,Amauris,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n",1
3,3,"atlantic halibut, halibut",Hippoglossus,Pleuronectidae,NaN,<div>Atlantic å_åÑåÐ northeast; Atlantic å_åÑåÐ northwest</div>; Canada (Newfoundland I); Denmar...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n,15
4,10,oktibbeha riverlet crayfish,Hobbseus,Cambaridae,Freshwater,United States (Mississippi);,\n This species is threatened by habitat degradation through residential and urban developmen...,"['\n', <span style=""font-style: italic;""></span>, 'This species has been given the Global Herita...",Unknown,\n Endangered\n\n\n B1ab(iii)\n\n,1

In [2]:
# CME
em.get_key(rl) # get key

# Note: The id column of the  redlist csv doesn't actually look like the object created here (rl).  In the csv,
# id numbers jump around since they represent original row number of the original scraped data csv.  Apparently
# this library can detect what we want and enumerate things in order if you give it a key feature like this.

'id'

In [3]:
#Read in ARKIVE
# Read in csv as dataframe
ar = em.read_csv_metadata("finalArkive.csv", encoding="ISO-8859-1", key="id")

# glance at first few rows
ar.head()

Metadata file is not present in the given path; proceeding to read the csv file.

,id,name,scientific_name,nickname,common_name,kingdom,phylum,class,order,family,genus,size,threats,conservation,threats_keywords,conservation_keywords,tCount,cCount
0,0,alcatraz de abbott; piquero de abbott; abbott's booby,Alcatraz de Abbott; Piquero de Abbott,Papasula abbotti,Abbott's booby,Animalia,Chordata,Aves,Pelecaniformes,Sulidae,Papasula,Length: 79 cm (2),Phosphate mining on Christmas Island in the 1960s and 70s caused the destruction of a third of A...,The majority of Abbott's booby nest sites occur within the Christmas Island National Park which ...,,,0,0
1,1,abbotí_¢ëí_ëés duiker; abbottí_¢ëí_ëés duiker,Abbotí_¢ëí_ëés duiker,Cephalophus spadix,Abbottí_¢ëí_ëés duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus,50 í_¢ëí_ëí± 60 kg (2),Like many other duikers Abbott\xe2\x80\x99s duiker is being impacted by a combination of hunting...,Although Abbott\xe2\x80\x99s duiker occurs within several protected areas such as the Kilimanjar...,hunting;,protected;,1,1
2,2,adelaide pigmy blue-tongue skink; pygmy bluetongue; adelaide pygmy bluetongue skink,Adelaide pigmy blue-tongue skink; pygmy bluetongue,Tiliqua adelaidensis,Adelaide pygmy bluetongue skink,Animalia,Chordata,Reptilia,Squamata,Scincidae,Tiliqua,Male snout-vent length: 3.8 - 10.6 cm (2)Female snout-vent length: 8.8 - 10.7 cm (2)Tail length:...,The Adelaide pygmy bluetongue skink was once feared to be the first of Australia\xe2\x80\x99s ap...,The South Australia Department of Environment and Conservation has produced a National Recovery ...,,protected;,0,1
3,3,adriatic trout; softmouth trout; adriatic salmon,Adriatic trout; softmouth trout,Salmo obtusirostris,Adriatic salmon,Animalia,Chordata,Actinopterygii,Salmoniformes,Salmonidae,Salmo,80 - 425 g (4),The Adriatic salmon faces a number of threats including overfishing for sport and for food as we...,There are currently no known conservation measures in place for the Adriatic salmon (1) (5). It ...,fishing;overfishing;invasive;pet;,,4,0
4,4,black-footed penguin; jackass penguin; african penguin,black-footed penguin; jackass penguin,Spheniscus demersus,African penguin,Animalia,Chordata,Aves,Sphenisciformes,Spheniscidae,Spheniscus,Length: 60 - 70 cm (2),The population of the African penguin has declined and it is estimated that its current size is ...,The African penguin is protected by its listing on Appendix II of the Convention on Internationa...,fishing;pet;pollution;,cites;protected;,3,2

In [4]:
# Remove parentheticals from arkive common names
# author: CME
# Next, actually remove scientific name and replace with common name(s)
#ar = arBeforeRemovingNames # in case script now run completely in order
#ar = ar[ar.animalName.str.contains("\(") == True] # update df to contain only tuples that contain common/nick names
error = 0 # make sure there's no wonky cases

# remove parenthesis contents
for index, row in ar.iterrows():
    genus = str(row['common_name'])

    pstart = genus.find("(")
    if pstart !=-1:        
        # extract full common/nick name
        noparens = genus[0:pstart]
        ar.loc[index, 'common_name'] = noparens
    else:
        error = error + 1

print(error)

818

In [5]:
# Concatenate nickname and common_name fields in arkive
# author: @andrewedstrom

# remove parenthesis contents
nameColumn = []
for index, row in ar.iterrows():
    nickname = str(row['scientific_name']) #look here if errors start happening
    nickname = re.sub('[^A-Za-z0-9;,\s]+', '', nickname).lower()
    common = str(row['common_name'])
    common = re.sub('[^A-Za-z0-9;,\s]+', '', common).lower()
    if common in nickname: 
        nameColumn.append(nickname)
    else:
        nameColumn.append((nickname + "; " + common))
ar['name'] = nameColumn
ar.head()

,id,name,scientific_name,nickname,common_name,kingdom,phylum,class,order,family,genus,size,threats,conservation,threats_keywords,conservation_keywords,tCount,cCount
0,0,alcatraz de abbott; piquero de abbott; abbotts booby,Alcatraz de Abbott; Piquero de Abbott,Papasula abbotti,Abbott's booby,Animalia,Chordata,Aves,Pelecaniformes,Sulidae,Papasula,Length: 79 cm (2),Phosphate mining on Christmas Island in the 1960s and 70s caused the destruction of a third of A...,The majority of Abbott's booby nest sites occur within the Christmas Island National Park which ...,,,0,0
1,1,abbots duiker; abbotts duiker,Abbotí_¢ëí_ëés duiker,Cephalophus spadix,Abbottí_¢ëí_ëés duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus,50 í_¢ëí_ëí± 60 kg (2),Like many other duikers Abbott\xe2\x80\x99s duiker is being impacted by a combination of hunting...,Although Abbott\xe2\x80\x99s duiker occurs within several protected areas such as the Kilimanjar...,hunting;,protected;,1,1
2,2,adelaide pigmy bluetongue skink; pygmy bluetongue; adelaide pygmy bluetongue skink,Adelaide pigmy blue-tongue skink; pygmy bluetongue,Tiliqua adelaidensis,Adelaide pygmy bluetongue skink,Animalia,Chordata,Reptilia,Squamata,Scincidae,Tiliqua,Male snout-vent length: 3.8 - 10.6 cm (2)Female snout-vent length: 8.8 - 10.7 cm (2)Tail length:...,The Adelaide pygmy bluetongue skink was once feared to be the first of Australia\xe2\x80\x99s ap...,The South Australia Department of Environment and Conservation has produced a National Recovery ...,,protected;,0,1
3,3,adriatic trout; softmouth trout; adriatic salmon,Adriatic trout; softmouth trout,Salmo obtusirostris,Adriatic salmon,Animalia,Chordata,Actinopterygii,Salmoniformes,Salmonidae,Salmo,80 - 425 g (4),The Adriatic salmon faces a number of threats including overfishing for sport and for food as we...,There are currently no known conservation measures in place for the Adriatic salmon (1) (5). It ...,fishing;overfishing;invasive;pet;,,4,0
4,4,blackfooted penguin; jackass penguin; african penguin,black-footed penguin; jackass penguin,Spheniscus demersus,African penguin,Animalia,Chordata,Aves,Sphenisciformes,Spheniscidae,Spheniscus,Length: 60 - 70 cm (2),The population of the African penguin has declined and it is estimated that its current size is ...,The African penguin is protected by its listing on Appendix II of the Convention on Internationa...,fishing;pet;pollution;,cites;protected;,3,2

In [6]:
# Lowercase redlist name field
# author: @andrewedstrom
error = 0 # make sure there's no wonky cases

# remove parenthesis contents
for index, row in rl.iterrows():
    n = str(row['name'])
    n = re.sub('[^A-Za-z0-9;,\s]+', '', n).lower()

    rl.loc[index, 'name'] = n.lower()

rl.head()

,id,name,genus,family,ecology,countries,threat_paragraph,conservation_paragraph,pop_trend,status,country_count
0,0,ochlockonee moccasinshell,Medionidus,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n,1
1,1,nelsons spiny pocket mouse,Heteromys,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the significant forest loss in its habitat. Habitat fra...,"['\n This species occurs in a newly-named national park, Tacana, in Mexico.\n\n \n ']",Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n",2
2,2,comoro friar,Amauris,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n",1
3,3,"atlantic halibut, halibut",Hippoglossus,Pleuronectidae,NaN,<div>Atlantic å_åÑåÐ northeast; Atlantic å_åÑåÐ northwest</div>; Canada (Newfoundland I); Denmar...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n,15
4,10,oktibbeha riverlet crayfish,Hobbseus,Cambaridae,Freshwater,United States (Mississippi);,\n This species is threatened by habitat degradation through residential and urban developmen...,"['\n', <span style=""font-style: italic;""></span>, 'This species has been given the Global Herita...",Unknown,\n Endangered\n\n\n B1ab(iii)\n\n,1

In [7]:
# Remove parentheticals from arkive genus
# author: @andrewedstrom
# Next, actually remove scientific name and replace with common name(s)
#ar = arBeforeRemovingNames # in case script now run completely in order
#ar = ar[ar.animalName.str.contains("\(") == True] # update df to contain only tuples that contain common/nick names
error = 0 # make sure there's no wonky cases

# remove parenthesis contents
for index, row in ar.iterrows():
    genus = str(row['genus'])

    pstart = genus.find("(")
    if pstart !=-1:        
        # extract full common/nick name
        noparens = genus[0:pstart]
        ar.loc[index, 'genus'] = noparens
    else:
        error = error + 1

print(error)

818

In [8]:
#rl.to_csv('finalRedlist.csv')
#ar.to_csv('finalArkive.csv')

In [15]:
# Rule-based blocking over input tables
# first get features that can be used
feature_table = em.get_features_for_blocking(rl, ar)

In [16]:
#len(feature_table)
feature_table
#em.get_attr_corres(rl, ar)['ltable']

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,id_id_exm,id,id,None,None,exact_match,<function id_id_exm at 0x1159ac1e0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,id_id_anm,id,id,None,None,abs_norm,<function id_id_anm at 0x1159ac158>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,id_id_lev_dist,id,id,None,None,lev_dist,<function id_id_lev_dist at 0x115ba2d08>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,id_id_lev_sim,id,id,None,None,lev_sim,<function id_id_lev_sim at 0x115ba2950>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,family_family_jac_qgm_3_qgm_3,family,family,qgm_3,qgm_3,jaccard,<function family_family_jac_qgm_3_qgm_3 at 0x115ba2378>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,family_family_cos_dlm_dc0_dlm_dc0,family,family,dlm_dc0,dlm_dc0,cosine,<function family_family_cos_dlm_dc0_dlm_dc0 at 0x115ba2a60>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,family_family_jac_dlm_dc0_dlm_dc0,family,family,dlm_dc0,dlm_dc0,jaccard,<function family_family_jac_dlm_dc0_dlm_dc0 at 0x115ba2bf8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,family_family_mel,family,family,None,None,monge_elkan,<function family_family_mel at 0x1160ba7b8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,family_family_lev_dist,family,family,None,None,lev_dist,<function family_family_lev_dist at 0x1160baf28>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,family_family_lev_sim,family,family,None,None,lev_sim,<function family_family_lev_sim at 0x1160baea0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,family_family_nmw,family,family,None,None,needleman_wunsch,<function family_family_nmw at 0x1160bac80>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,family_family_sw,family,family,None,None,smith_waterman,<function family_family_sw at 0x1160ba598>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [11]:
# CME -- I'm realizing now that we may want to start with the attribute equivalence
# blocker for names and see where that leaves us.  On my TO-DO.
equivB = em.AttrEquivalenceBlocker()
C0 = equivB.block_tables(rl, ar, 'name', 'name',
                    l_output_attrs=['name', 'genus'], 
                    r_output_attrs=['name', 'genus'])
C0

# lolwat this reveals zero matches?

Empty DataFrame
Columns: [_id, ltable_id, rtable_id, ltable_name, ltable_genus, rtable_name, rtable_genus]
Index: []

In [17]:
#Do overlap blocking on name to get candidate set
#Perform some kind of blocking to find candidate pairs
ob = em.OverlapBlocker()
C0 = ob.block_tables(rl, ar,'name', 'name', 
                     l_output_attrs=['name', 'genus', 'family'], 
                     r_output_attrs=['name', 'genus', 'family'], overlap_size=2)
C0

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,rtable_name,rtable_genus
0,0,1470,2,"adelaide pigmy bluetongue skink, pygmy bluetongue",Tiliqua,adelaide pigmy bluetongue skink; pygmy bluetongue; adelaide pygmy bluetongue skink,Tiliqua
1,1,1192,3,adriatic salmon,Salmo,adriatic trout; softmouth trout; adriatic salmon,Salmo
2,2,2017,5,"african teak, afromosia, afrormosia",Pericopsis,afrormosia; assamela; kokrodua; african teak,Pericopsis
3,3,1515,8,"andes smooth frog, lake junin frog, marbled water frog",Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
4,4,4977,8,hunaco water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
5,5,7524,8,titicaca water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
6,6,4317,8,efulen water frog,Petropedetes,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
7,7,4318,8,perrets water frog,Petropedetes,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
8,8,4363,8,albanian water frog,Pelophylax,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
9,9,5807,8,arico water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
10,10,1454,8,zapahuira water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
11,11,1515,9,"andes smooth frog, lake junin frog, marbled water frog",Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
12,12,4977,9,hunaco water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
13,13,7524,9,titicaca water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
14,14,4317,9,efulen water frog,Petropedetes,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
15,15,4318,9,perrets water frog,Petropedetes,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
16,16,4363,9,albanian water frog,Pelophylax,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
17,17,5807,9,arico water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
18,18,1454,9,zapahuira water frog,Telmatobius,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
19,19,4279,11,andringitra madagascar frog,Mantidactylus,mantidactylus microtympanum; angels madagascar frog,Boehmantis
20,20,4295,11,madagascar climbing frog,Anodonthyla,mantidactylus microtympanum; angels madagascar frog,Boehmantis
21,21,339,12,blind swamp eel,Ophisternon,blind swamp eel; anguila ciega,Ophisternon
22,22,661,13,decarys leaf chameleon,Brookesia,armoured chameleon; stump tailed chameleon; antsingy leaf chameleon,Brookesia
23,23,4575,16,aran rock lizard,Iberolacerta,lagartija aranesa; aran rock lizard,Iberolacerta
24,24,4576,16,aurelios rock lizard,Iberolacerta,lagartija aranesa; aran rock lizard,Iberolacerta
25,25,82,21,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
26,26,7879,21,"burmese starred tortoise, flatback tortoise",Geochelone,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
27,27,5800,21,"black sea bass, giant sea bass",Stereolepis,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
28,28,7512,21,"giant ditch frog, mountain chicken",Leptodactylus,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
29,29,82,22,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
...,...,...,...,...,...,...,...
732,732,3914,777,"mountain frog, red and yellow mountain frog",Philoria,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
733,733,3937,777,"darien stubfoot toad, toad mountain harlequin frog",Atelopus,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
734,734,4022,777,chamula mountain brook frog,Duellmanohyla,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
735,735,5154,780,dwarf pygmy goby,Pandaka,dwarf buffalo; mindoro pygmy buffalo; tamarau; tamaraw,Bubalus
736,736,7683,781,tenerife speckled lizard,Gallotia,lagarto canario moteado; tenerife speckled lizard,Gallotia
737,737,1515,783,"andes smooth frog, lake junin frog, marbled water frog",Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
738,738,4977,783,hunaco water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
739,739,7524,783,titicaca water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
740,740,7536,783,"lake oku clawed frog, savannah clawed frog",Xenopus,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
741,741,4317,783,efulen water frog,Petropedetes,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
742,742,4318,783,perrets water frog,Petropedetes,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
743,743,4363,783,albanian water frog,Pelophylax,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
744,744,5807,783,arico water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
745,745,1454,783,zapahuira water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
746,746,861,784,"goldenbellied mentawai island langur, longtailed langur, mentawai langur, mentawai leaf monkey",Presbytis,dollmans snubnosed langur; dollmans snubnosed monkey; tonkin snubnosed langur; tonkin snubnosed ...,Rhinopithecus
747,747,1133,784,"gray snubnosed monkey, grey snubnosed monkey, guizhou snubnosed monkey",Rhinopithecus,dollmans snubnosed langur; dollmans snubnosed monkey; tonkin snubnosed langur; tonkin snubnosed ...,Rhinopithecus
748,748,861,785,"goldenbellied mentawai island langur, longtailed langur, mentawai langur, mentawai leaf monkey",Presbytis,dollmans snubnosed langur; dollmans snubnosed monkey; tonkin snubnosed langur; tonkin snubnosed ...,Rhinopithecus
749,749,1133,785,"gray snubnosed monkey, grey snubnosed monkey, guizhou snubnosed monkey",Rhinopithecus,dollmans snubnosed langur; dollmans snubnosed monkey; tonkin snubnosed langur; tonkin snubnosed ...,Rhinopithecus
750,750,5823,789,chiapan climbing rat,Tylomys,tumbal climbing rat; tumbala climbingrat; tumbala climbing rat,Tylomys
751,751,5824,789,"tumbala climbing rat, tumbal climbing rat",Tylomys,tumbal climbing rat; tumbala climbingrat; tumbala climbing rat,Tylomys
752,752,2846,794,"blackfaced black spider monkey, chamek spider monkey, peruvian black spider monkey, peruvian spi...",Ateles,brown spider monkey; variegated spider monkey,Ateles
753,753,2846,795,"blackfaced black spider monkey, chamek spider monkey, peruvian black spider monkey, peruvian spi...",Ateles,brown spider monkey; variegated spider monkey,Ateles
754,754,1761,804,white seraya,Parashorea,white lauan; white seraya,Parashorea
755,755,1801,804,white seraya,Parashorea,white lauan; white seraya,Parashorea
756,756,6174,804,white seraya,Parashorea,white lauan; white seraya,Parashorea
757,757,6238,804,"white lauan, white seraya",Parashorea,white lauan; white seraya,Parashorea
758,758,6240,804,"light red meranti, philippine mahogany, white lauan",Shorea,white lauan; white seraya,Parashorea
759,759,6244,804,white lauan,Shorea,white lauan; white seraya,Parashorea
760,760,6259,804,"philippine mahogany, white lauan",Shorea,white lauan; white seraya,Parashorea
761,761,6301,804,"white lauan, white seraya",Parashorea,white lauan; white seraya,Parashorea

In [28]:
#Only keep candidate pairs which share genus
ab = em.AttrEquivalenceBlocker()
C1 = ob.block_candset(C0, 'genus', 'genus')
C1

#Do overlap blocking on name to get candidate set
#Perform some kind of blocking to find candidate pairs
#C1 = ab.block_tables(rl, ar,'genus', 'genus', 
#                     l_output_attrs=['name', 'genus'], 
#                     r_output_attrs=['name', 'genus'])

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,rtable_name,rtable_genus
0,0,1470,2,"adelaide pigmy bluetongue skink, pygmy bluetongue",Tiliqua,adelaide pigmy bluetongue skink; pygmy bluetongue; adelaide pygmy bluetongue skink,Tiliqua
1,1,1192,3,adriatic salmon,Salmo,adriatic trout; softmouth trout; adriatic salmon,Salmo
2,2,2017,5,"african teak, afromosia, afrormosia",Pericopsis,afrormosia; assamela; kokrodua; african teak,Pericopsis
8,8,4363,8,albanian water frog,Pelophylax,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
16,16,4363,9,albanian water frog,Pelophylax,albanian frog; albanian pool frog; balkan frog; virpazar frog; albanian water frog,Pelophylax
21,21,339,12,blind swamp eel,Ophisternon,blind swamp eel; anguila ciega,Ophisternon
22,22,661,13,decarys leaf chameleon,Brookesia,armoured chameleon; stump tailed chameleon; antsingy leaf chameleon,Brookesia
23,23,4575,16,aran rock lizard,Iberolacerta,lagartija aranesa; aran rock lizard,Iberolacerta
24,24,4576,16,aurelios rock lizard,Iberolacerta,lagartija aranesa; aran rock lizard,Iberolacerta
25,25,82,21,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
29,29,82,22,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria
33,33,5816,25,southern bluefin tuna,Thunnus,northern bluefin tuna; atlantic bluefin tuna,Thunnus
34,34,5816,26,southern bluefin tuna,Thunnus,northern bluefin tuna; atlantic bluefin tuna,Thunnus
35,35,4575,28,aran rock lizard,Iberolacerta,lagartija pallaresa; aurelios rock lizard,Iberolacerta
36,36,4576,28,aurelios rock lizard,Iberolacerta,lagartija pallaresa; aurelios rock lizard,Iberolacerta
37,37,1988,34,cherry mahogany,Tieghemella,african cherry; cherry mahogany; makore; baku,Tieghemella
38,38,2846,59,"blackfaced black spider monkey, chamek spider monkey, peruvian black spider monkey, peruvian spi...",Ateles,central american spider monkey; geoffroys spider monkey; mono colorado; panama spider monkey; re...,Ateles
40,40,2846,60,"blackfaced black spider monkey, chamek spider monkey, peruvian black spider monkey, peruvian spi...",Ateles,central american spider monkey; geoffroys spider monkey; mono colorado; panama spider monkey; re...,Ateles
44,44,4556,67,blue shiner,Cyprinella,erogala caeruleus; notropis caeruleus; photogenis caeruleus; blue shiner,Cyprinella
46,46,7372,68,"blackeyed leaf frog, morelets treefrog",Agalychnis,bluesided leaf frog; goldeneyed leaf frog; orangeeyed leaf frog; orangeeyed tree frog; bluesided...,Agalychnis
50,50,726,86,lilfords wall lizard,Podarcis,podarcis bocagei ssp carbonelli; podarcis carbonellae; carbonells wall lizard,Podarcis
51,51,4575,88,aran rock lizard,Iberolacerta,cyrens rock lizard; iberian rock lizard; spanish mountain lizard; carpetane rock lizard,Iberolacerta
52,52,4576,88,aurelios rock lizard,Iberolacerta,cyrens rock lizard; iberian rock lizard; spanish mountain lizard; carpetane rock lizard,Iberolacerta
53,53,1501,90,caucasian caucasus,Vipera,caucasus viper; caucasian viper,Vipera
55,55,7644,91,"anegada ground iguana, anegada island iguana, anegada rock iguana",Cyclura,cayman island ground iguana; grand cayman blue iguana; grand cayman iguana; cayman island blue i...,Cyclura
56,56,7645,91,"ricords ground iguana, ricords iguana, ricords rock iguana",Cyclura,cayman island ground iguana; grand cayman blue iguana; grand cayman iguana; cayman island blue i...,Cyclura
58,58,4511,91,"acklins ground iguana, central bahamian rock iguana, san salvador ground iguana, san salvador ig...",Cyclura,cayman island ground iguana; grand cayman blue iguana; grand cayman iguana; cayman island blue i...,Cyclura
59,59,1496,103,coachella valley fringetoed lizard,Uma,coachella uma; coachella valley fringetoed lizard,Uma
61,61,7374,108,honduran brook frog,Duellmanohyla,redeyed stream frog; costa rica brook frog,Duellmanohyla
63,63,4022,108,chamula mountain brook frog,Duellmanohyla,redeyed stream frog; costa rica brook frog,Duellmanohyla
...,...,...,...,...,...,...,...
696,696,1038,743,temotu flying fox,Pteropus,rodrigues fruit bat; rodrigues flying fox,Pteropus
697,697,177,743,makira flying fox,Pteropus,rodrigues fruit bat; rodrigues flying fox,Pteropus
700,700,1036,743,banks flying fox,Pteropus,rodrigues fruit bat; rodrigues flying fox,Pteropus
701,701,1037,743,blackbearded flying fox,Pteropus,rodrigues fruit bat; rodrigues flying fox,Pteropus
702,702,5446,743,vanikoro flying fox,Pteropus,rodrigues fruit bat; rodrigues flying fox,Pteropus
703,703,4625,744,sagalla caecilian,Boulengerula,sagala caecilian; sagalla caecilian,Boulengerula
707,707,4890,747,"saint croix ground lizard, st croix ameiva, st croix ground lizard",Ameiva,st croix ground lizard; saint croix ground lizard,Ameiva
711,711,4890,748,"saint croix ground lizard, st croix ameiva, st croix ground lizard",Ameiva,st croix ground lizard; saint croix ground lizard,Ameiva
713,713,5816,763,southern bluefin tuna,Thunnus,thon rouge du sud; southern bluefin tuna,Thunnus
723,723,7899,776,table mountain ghost frog,Heleophryne,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
724,724,4856,776,"hewitts african ghost frog, hewitts ghost frog",Heleophryne,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
729,729,7899,777,table mountain ghost frog,Heleophryne,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
730,730,4856,777,"hewitts african ghost frog, hewitts ghost frog",Heleophryne,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne
736,736,7683,781,tenerife speckled lizard,Gallotia,lagarto canario moteado; tenerife speckled lizard,Gallotia
737,737,1515,783,"andes smooth frog, lake junin frog, marbled water frog",Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
738,738,4977,783,hunaco water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
739,739,7524,783,titicaca water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
744,744,5807,783,arico water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
745,745,1454,783,zapahuira water frog,Telmatobius,andean frog; crawfords water frog; lake titicaca frog; white water frog; titicaca water frog,Telmatobius
747,747,1133,784,"gray snubnosed monkey, grey snubnosed monkey, guizhou snubnosed monkey",Rhinopithecus,dollmans snubnosed langur; dollmans snubnosed monkey; tonkin snubnosed langur; tonkin snubnosed ...,Rhinopithecus
749,749,1133,785,"gray snubnosed monkey, grey snubnosed monkey, guizhou snubnosed monkey",Rhinopithecus,dollmans snubnosed langur; dollmans snubnosed monkey; tonkin snubnosed langur; tonkin snubnosed ...,Rhinopithecus
750,750,5823,789,chiapan climbing rat,Tylomys,tumbal climbing rat; tumbala climbingrat; tumbala climbing rat,Tylomys
751,751,5824,789,"tumbala climbing rat, tumbal climbing rat",Tylomys,tumbal climbing rat; tumbala climbingrat; tumbala climbing rat,Tylomys
752,752,2846,794,"blackfaced black spider monkey, chamek spider monkey, peruvian black spider monkey, peruvian spi...",Ateles,brown spider monkey; variegated spider monkey,Ateles
753,753,2846,795,"blackfaced black spider monkey, chamek spider monkey, peruvian black spider monkey, peruvian spi...",Ateles,brown spider monkey; variegated spider monkey,Ateles
754,754,1761,804,white seraya,Parashorea,white lauan; white seraya,Parashorea
755,755,1801,804,white seraya,Parashorea,white lauan; white seraya,Parashorea
756,756,6174,804,white seraya,Parashorea,white lauan; white seraya,Parashorea
757,757,6238,804,"white lauan, white seraya",Parashorea,white lauan; white seraya,Parashorea
761,761,6301,804,"white lauan, white seraya",Parashorea,white lauan; white seraya,Parashorea

In [31]:
C2 = equivB.block_tables(rl, ar, 'family', 'family',
                    l_output_attrs=['name', 'genus' ,'family'], 
                    r_output_attrs=['name', 'genus', 'family'])

C3 = ob.block_candset(C2, 'genus', 'genus')
C3

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,ltable_family,rtable_name,rtable_genus,rtable_family
25,25,705,589,oval pigtoe,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
91,91,5293,706,"orangefooted pimpleback mussel, orangefoot pimpleback",Plethobasus,Unionidae,orangefooted pearlymussel; orangefooted pimpleback mussel; orangefoot pimpleback,Plethobasus,Unionidae
93,93,5296,589,"club naiad, clubshell, clubshell pearly mussel",Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
97,97,5297,589,"flat pigtoe, marshalls mussel",Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
101,101,5298,589,"rough pigtoe, rough pigtoe pearly mussel",Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
105,105,5299,589,painted clubshell,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
109,109,5300,589,james river spinymussel,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
113,113,5301,589,dark pigtoe,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
117,117,5302,589,southern pigtoe,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
121,121,5303,589,cumberland pigtoe,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
125,125,5305,589,warrior pigtoe,Pleurobema,Unionidae,club naiad; clubshell; northern clubshell; clubshell pearly mussel,Pleurobema,Unionidae
154,154,5830,595,"cumberland bean, cumberland bean pearly mussel, purple bean",Villosa,Unionidae,cumberland bean; purple bean; cumberland bean pearly mussel,Villosa,Unionidae
158,158,5831,595,purple bean,Villosa,Unionidae,cumberland bean; purple bean; cumberland bean pearly mussel,Villosa,Unionidae
172,172,7852,338,cumberlandian combshell,Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
176,176,7853,338,upland combshell,Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
180,180,7855,338,"penitent mussel, southern combshell",Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
193,193,12,126,"danube salmon, huchen",Hucho,Salmonidae,huchen; danube salmon,Hucho,Salmonidae
210,210,1192,3,adriatic salmon,Salmo,Salmonidae,adriatic trout; softmouth trout; adriatic salmon,Salmo,Salmonidae
212,212,1192,520,adriatic salmon,Salmo,Salmonidae,flathead trout; turkish trout; ala balik,Salmo,Salmonidae
268,268,175,273,nilgiri longtailed tree mouse,Vandeleuria,Muridae,vandeleuria oleracea nilagirica; longtailed climbing mouse,Vandeleuria,Muridae
275,275,176,384,"dinagat hairytailed rat, russet batomys",Batomys,Muridae,dinagat batomys; dinagat hairytailed rat; russet batomys,Batomys,Muridae
362,362,3990,179,"giant bushytailed cloud rat, luzon bushytailed cloud rat, luzon crateromys",Crateromys,Muridae,luzon bushytailed cloud rat; philippine bushytailed rat; giant bushytailed cloud rat,Crateromys,Muridae
364,364,3990,341,"giant bushytailed cloud rat, luzon bushytailed cloud rat, luzon crateromys",Crateromys,Muridae,panay cloud runner; panay bushytailed cloud rat,Crateromys,Muridae
405,405,1080,409,semirechensk salamander,Ranodon,Hynobiidae,central asian salamander; siberian salamander; semirechensk salamander,Ranodon,Hynobiidae
409,409,20,285,"malagasy giant jumping rat, malagasy giant rat",Hypogeomys,Nesomyidae,malagasy giant jumping rat; malagasy giant rat,Hypogeomys,Nesomyidae
418,418,22,143,"elongated tortoise, pineapple tortoise, rednosed tortoise, yellowheaded tortoise, yellow tortoise",Indotestudo,Testudinidae,pineapple tortoise; rednosed tortoise; yellow tortoise; yellowheaded tortoise; elongated tortoise,Indotestudo,Testudinidae
419,419,22,159,"elongated tortoise, pineapple tortoise, rednosed tortoise, yellowheaded tortoise, yellow tortoise",Indotestudo,Testudinidae,celebes tortoise; forstens tortoise,Indotestudo,Testudinidae
429,429,23,143,"celebes tortoise, forstens tortoise, travancore tortoise",Indotestudo,Testudinidae,pineapple tortoise; rednosed tortoise; yellow tortoise; yellowheaded tortoise; elongated tortoise,Indotestudo,Testudinidae
430,430,23,159,"celebes tortoise, forstens tortoise, travancore tortoise",Indotestudo,Testudinidae,celebes tortoise; forstens tortoise,Indotestudo,Testudinidae
438,438,82,21,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,Testudinidae,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria,Testudinidae
...,...,...,...,...,...,...,...,...,...
5316,5316,5833,536,"atlantic sturgeon, baltic sturgeon, common sturgeon",Acipenser,Acipenseridae,baltic sturgeon; common sturgeon; atlantic sturgeon,Acipenser,Acipenseridae
5317,5317,5833,769,"atlantic sturgeon, baltic sturgeon, common sturgeon",Acipenser,Acipenseridae,star sturgeon; stellate sturgeon,Acipenser,Acipenseridae
5318,5318,5833,814,"atlantic sturgeon, baltic sturgeon, common sturgeon",Acipenser,Acipenseridae,dabrys sturgeon; yangtze sturgeon,Acipenser,Acipenseridae
5319,5319,5800,558,"black sea bass, giant sea bass",Stereolepis,Polyprionidae,giant sea bass; black sea bass,Stereolepis,Polyprionidae
5320,5320,5816,25,southern bluefin tuna,Thunnus,Scombridae,northern bluefin tuna; atlantic bluefin tuna,Thunnus,Scombridae
5321,5321,5816,26,southern bluefin tuna,Thunnus,Scombridae,northern bluefin tuna; atlantic bluefin tuna,Thunnus,Scombridae
5322,5322,5816,763,southern bluefin tuna,Thunnus,Scombridae,thon rouge du sud; southern bluefin tuna,Thunnus,Scombridae
5330,5330,5829,559,"blackandwhite ruffed lemur, ruffed lemur",Varecia,Lemuridae,ruffed lemur; blackandwhite ruffed lemur,Varecia,Lemuridae
5332,5332,7896,188,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,hapalmur dor; golden bamboo lemur,Hapalemur,Lemuridae
5335,5335,7896,521,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,alaotra reed lemur; alaotran bamboo lemur; bandro; lac alaotra bamboo lemur; lake alaotra gentle...,Hapalemur,Lemuridae
5336,5336,7896,522,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,alaotra reed lemur; alaotran bamboo lemur; bandro; lac alaotra bamboo lemur; lake alaotra gentle...,Hapalemur,Lemuridae
5339,5339,7009,565,boreal felt lichen,Erioderma,Pannariaceae,fungi; boreal felt lichen,Erioderma,Pannariaceae
5340,5340,7099,603,dlinza forest pinwheel,Trachycystis,Charopidae,dlinza forest pinwheel; dlinza pinwheel,Trachycystis,Charopidae
5341,5341,7099,604,dlinza forest pinwheel,Trachycystis,Charopidae,dlinza forest pinwheel; dlinza pinwheel,Trachycystis,Charopidae
5343,5343,7460,594,orinoco crocodile,Crocodylus,Crocodylidae,crocodile de cuba; cuban crocodile,Crocodylus,Crocodylidae
5344,5344,7460,707,orinoco crocodile,Crocodylus,Crocodylidae,crocodile de lornoque; orinoco crocodile,Crocodylus,Crocodylidae
5345,5345,7460,708,orinoco crocodile,Crocodylus,Crocodylidae,crocodile de lornoque; orinoco crocodile,Crocodylus,Crocodylidae
5346,5346,7460,756,orinoco crocodile,Crocodylus,Crocodylidae,crocodile du siam; siamese crocodile,Crocodylus,Crocodylidae
5348,5348,7474,594,cuban crocodile,Crocodylus,Crocodylidae,crocodile de cuba; cuban crocodile,Crocodylus,Crocodylidae
5349,5349,7474,707,cuban crocodile,Crocodylus,Crocodylidae,crocodile de lornoque; orinoco crocodile,Crocodylus,Crocodylidae
5350,5350,7474,708,cuban crocodile,Crocodylus,Crocodylidae,crocodile de lornoque; orinoco crocodile,Crocodylus,Crocodylidae
5351,5351,7474,756,cuban crocodile,Crocodylus,Crocodylidae,crocodile du siam; siamese crocodile,Crocodylus,Crocodylidae
5353,5353,7477,594,philippines crocodile,Crocodylus,Crocodylidae,crocodile de cuba; cuban crocodile,Crocodylus,Crocodylidae
5354,5354,7477,707,philippines crocodile,Crocodylus,Crocodylidae,crocodile de lornoque; orinoco crocodile,Crocodylus,Crocodylidae
5355,5355,7477,708,philippines crocodile,Crocodylus,Crocodylidae,crocodile de lornoque; orinoco crocodile,Crocodylus,Crocodylidae
5356,5356,7477,756,philippines crocodile,Crocodylus,Crocodylidae,crocodile du siam; siamese crocodile,Crocodylus,Crocodylidae
5360,5360,7512,689,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,dominican whitelipped frog; giant ditch frog; mountain chicken,Leptodactylus,Leptodactylidae
5365,5365,7514,689,honduras whitelipped frog,Leptodactylus,Leptodactylidae,dominican whitelipped frog; giant ditch frog; mountain chicken,Leptodactylus,Leptodactylidae
5367,5367,7834,672,"land lobster, lord howe island phasmid, lord howe island stickinsect",Dryococelus,Phasmatidae,land lobster; lord howe island phasmid; lord howe island stickinsect; tree lobster; lord howe is...,Dryococelus,Phasmatidae
5368,5368,7868,581,"china alligator, chinese alligator",Alligator,Alligatoridae,alligator de chine; chinese alligator,Alligator,Alligatoridae

In [33]:
C = em.combine_blocker_outputs_via_union([C1, C3])
C

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,ltable_family,rtable_name,rtable_genus,rtable_family
0,0,12,126,"danube salmon, huchen",Hucho,Salmonidae,huchen; danube salmon,Hucho,Salmonidae
1,1,20,285,"malagasy giant jumping rat, malagasy giant rat",Hypogeomys,Nesomyidae,malagasy giant jumping rat; malagasy giant rat,Hypogeomys,Nesomyidae
2,2,22,143,"elongated tortoise, pineapple tortoise, rednosed tortoise, yellowheaded tortoise, yellow tortoise",Indotestudo,Testudinidae,pineapple tortoise; rednosed tortoise; yellow tortoise; yellowheaded tortoise; elongated tortoise,Indotestudo,Testudinidae
3,3,22,159,"elongated tortoise, pineapple tortoise, rednosed tortoise, yellowheaded tortoise, yellow tortoise",Indotestudo,Testudinidae,celebes tortoise; forstens tortoise,Indotestudo,Testudinidae
4,4,23,143,"celebes tortoise, forstens tortoise, travancore tortoise",Indotestudo,Testudinidae,pineapple tortoise; rednosed tortoise; yellow tortoise; yellowheaded tortoise; elongated tortoise,Indotestudo,Testudinidae
5,5,23,159,"celebes tortoise, forstens tortoise, travancore tortoise",Indotestudo,Testudinidae,celebes tortoise; forstens tortoise,Indotestudo,Testudinidae
6,6,48,320,"nelsons antelope squirrel, san joaquin antelope ground squirrel, san joaquin antelope squirrel",Ammospermophilus,Sciuridae,san joaquin antelope ground squirrel; san joaquin antelope squirrel; nelsons antelope squirrel,Ammospermophilus,Sciuridae
7,7,53,702,milneedwardss sportive lemur,Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
8,8,54,702,"drybush weasel lemur, whitefooted sportive lemur",Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
9,9,55,702,"lightnecked sportive lemur, microdon sportive lemur, smalltoothed sportive lemur",Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
10,10,62,449,"tehuantepec hare, tehuantepec jackrabbit, tehuantepec jack rabbit, tropical hare",Lepus,Leporidae,tehuantepec hare; tehuantepec jack rabbit; tropical hare; tehuantepec jackrabbit,Lepus,Leporidae
11,11,71,458,greenthighed frog,Litoria,Hylidae,australian waterfall frog; waterfall frog; torrent tree frog,Litoria,Hylidae
12,12,71,459,greenthighed frog,Litoria,Hylidae,australian waterfall frog; waterfall frog; torrent tree frog,Litoria,Hylidae
13,13,71,460,greenthighed frog,Litoria,Hylidae,australian waterfall frog; waterfall frog; torrent tree frog,Litoria,Hylidae
14,14,81,125,"cyclades bluntnosed viper, milos viper",Macrovipera,Viperidae,milos viper; cyclades bluntnosed viper,Macrovipera,Viperidae
15,15,82,21,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,Testudinidae,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria,Testudinidae
16,16,82,22,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,Testudinidae,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria,Testudinidae
17,17,175,273,nilgiri longtailed tree mouse,Vandeleuria,Muridae,vandeleuria oleracea nilagirica; longtailed climbing mouse,Vandeleuria,Muridae
18,18,176,384,"dinagat hairytailed rat, russet batomys",Batomys,Muridae,dinagat batomys; dinagat hairytailed rat; russet batomys,Batomys,Muridae
19,19,177,270,makira flying fox,Pteropus,Pteropodidae,comoro black fruit bat; livingstones bat; livingstones flying fox,Pteropus,Pteropodidae
20,20,177,298,makira flying fox,Pteropus,Pteropodidae,greater mascarene flying fox; mauritan flying fox; mauritius fruit bat; mauritian flying fox,Pteropus,Pteropodidae
21,21,177,299,makira flying fox,Pteropus,Pteropodidae,greater mascarene flying fox; mauritan flying fox; mauritius fruit bat; mauritian flying fox,Pteropus,Pteropodidae
22,22,177,743,makira flying fox,Pteropus,Pteropodidae,rodrigues fruit bat; rodrigues flying fox,Pteropus,Pteropodidae
23,23,180,283,jollys mouse lemur,Microcebus,Cheirogaleidae,berthes mouse lemur; madame berthes mouse lemur,Microcebus,Cheirogaleidae
24,24,189,702,ankarana sportive lemur,Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
25,25,190,283,simmons mouse lemur,Microcebus,Cheirogaleidae,berthes mouse lemur; madame berthes mouse lemur,Microcebus,Cheirogaleidae
26,26,192,391,bakers smalltoothed harvest mouse,Reithrodontomys,Cricetidae,redbellied harvest mouse; salt marsh harvest mouse; saltmarsh harvest mouse,Reithrodontomys,Cricetidae
27,27,204,244,"blackish whiskered bat, frosted myotis",Myotis,Vespertilionidae,social bat; indiana bat,Myotis,Vespertilionidae
28,28,339,12,blind swamp eel,Ophisternon,Synbranchidae,blind swamp eel; anguila ciega,Ophisternon,Synbranchidae
29,29,350,366,queen alexandras birdwing,Ornithoptera,Papilionidae,ornithoptre de la reine alexandra; queen alexandras birdwing,Ornithoptera,Papilionidae
...,...,...,...,...,...,...,...,...,...
639,639,7682,781,la gomera giant lizard,Gallotia,Lacertidae,lagarto canario moteado; tenerife speckled lizard,Gallotia,Lacertidae
640,640,7683,643,tenerife speckled lizard,Gallotia,Lacertidae,lzard de simony; hierro giant lizard,Gallotia,Lacertidae
641,641,7683,664,tenerife speckled lizard,Gallotia,Lacertidae,gallotia gomerana; la gomera giant lizard,Gallotia,Lacertidae
642,642,7683,781,tenerife speckled lizard,Gallotia,Lacertidae,lagarto canario moteado; tenerife speckled lizard,Gallotia,Lacertidae
643,643,7723,645,"herola, hirola, hunters antelope, hunters hartebeest",Beatragus,Bovidae,hunters antelope; hunters hartebeest; hirola,Beatragus,Bovidae
644,644,7729,402,banhine barb,Barbus,Cyprinidae,clanwilliam sawfin; sawfin,Barbus,Cyprinidae
645,645,7744,377,"rameshwaram ornamental, rameshwaram parachute spider",Poecilotheria,Theraphosidae,red slate ornamental; red slate ornamental tarantula; reddish parachute tarantula; rufus parachu...,Poecilotheria,Theraphosidae
646,646,7744,731,"rameshwaram ornamental, rameshwaram parachute spider",Poecilotheria,Theraphosidae,rameshwaram ornamental; rameshwaram parachute spider,Poecilotheria,Theraphosidae
647,647,7745,377,"gooty tarantula, metallic tarantula, peacock parachute spider, peacock tarantula, salepurgu",Poecilotheria,Theraphosidae,red slate ornamental; red slate ornamental tarantula; reddish parachute tarantula; rufus parachu...,Poecilotheria,Theraphosidae
648,648,7745,731,"gooty tarantula, metallic tarantula, peacock parachute spider, peacock tarantula, salepurgu",Poecilotheria,Theraphosidae,rameshwaram ornamental; rameshwaram parachute spider,Poecilotheria,Theraphosidae
649,649,7762,199,"scotts treekangaroo, tenkile, tenkile tree kangaroo",Dendrolagus,Macropodidae,ornate treekangaroo; goodfellows tree kangaroo,Dendrolagus,Macropodidae
650,650,7762,241,"scotts treekangaroo, tenkile, tenkile tree kangaroo",Dendrolagus,Macropodidae,matschies treekangaroo; huon tree kangaroo,Dendrolagus,Macropodidae
651,651,7834,672,"land lobster, lord howe island phasmid, lord howe island stickinsect",Dryococelus,Phasmatidae,land lobster; lord howe island phasmid; lord howe island stickinsect; tree lobster; lord howe is...,Dryococelus,Phasmatidae
652,652,7839,499,"cayey robber frog, golden coqui, golden coqui frog",Eleutherodactylus,Eleutherodactylidae,melodius coqui; wightmans robber frog,Eleutherodactylus,Leptodactylidae
653,653,7842,499,"karls robber frog, stream coqui, webbedfooted coqui",Eleutherodactylus,Eleutherodactylidae,melodius coqui; wightmans robber frog,Eleutherodactylus,Leptodactylidae
654,654,7843,499,foothill robber frog,Eleutherodactylus,Eleutherodactylidae,melodius coqui; wightmans robber frog,Eleutherodactylus,Leptodactylidae
655,655,7852,338,cumberlandian combshell,Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
656,656,7853,338,upland combshell,Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
657,657,7855,338,"penitent mussel, southern combshell",Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
658,658,7868,581,"china alligator, chinese alligator",Alligator,Alligatoridae,alligator de chine; chinese alligator,Alligator,Alligatoridae
659,659,7875,643,"el hierro giant lizard, hierro giant lizard",Gallotia,Lacertidae,lzard de simony; hierro giant lizard,Gallotia,Lacertidae
660,660,7875,664,"el hierro giant lizard, hierro giant lizard",Gallotia,Lacertidae,gallotia gomerana; la gomera giant lizard,Gallotia,Lacertidae
661,661,7875,781,"el hierro giant lizard, hierro giant lizard",Gallotia,Lacertidae,lagarto canario moteado; tenerife speckled lizard,Gallotia,Lacertidae
662,662,7879,573,"burmese starred tortoise, flatback tortoise",Geochelone,Testudinidae,flatback tortoise; burmese starred tortoise,Geochelone,Testudinidae
663,663,7886,419,taurus gudgeon,Gobio,Cyprinidae,gobio gobio skadarensis; skadar gudgeon,Gobio,Cyprinidae
664,664,7896,188,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,hapalmur dor; golden bamboo lemur,Hapalemur,Lemuridae
665,665,7896,521,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,alaotra reed lemur; alaotran bamboo lemur; bandro; lac alaotra bamboo lemur; lake alaotra gentle...,Hapalemur,Lemuridae
666,666,7896,522,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,alaotra reed lemur; alaotran bamboo lemur; bandro; lac alaotra bamboo lemur; lake alaotra gentle...,Hapalemur,Lemuridae
667,667,7899,776,table mountain ghost frog,Heleophryne,Heleophrynidae,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne,Heleophrynidae
668,668,7899,777,table mountain ghost frog,Heleophryne,Heleophrynidae,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne,Heleophrynidae

In [34]:
em.to_csv_metadata(C, './candidate_set.csv')

True

In [36]:
C = em.read_csv_metadata('candidate_set.csv', ltable=rl, rtable=ar)

In [37]:
C

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,ltable_family,rtable_name,rtable_genus,rtable_family
0,0,12,126,"danube salmon, huchen",Hucho,Salmonidae,huchen; danube salmon,Hucho,Salmonidae
1,1,20,285,"malagasy giant jumping rat, malagasy giant rat",Hypogeomys,Nesomyidae,malagasy giant jumping rat; malagasy giant rat,Hypogeomys,Nesomyidae
2,2,22,143,"elongated tortoise, pineapple tortoise, rednosed tortoise, yellowheaded tortoise, yellow tortoise",Indotestudo,Testudinidae,pineapple tortoise; rednosed tortoise; yellow tortoise; yellowheaded tortoise; elongated tortoise,Indotestudo,Testudinidae
3,3,22,159,"elongated tortoise, pineapple tortoise, rednosed tortoise, yellowheaded tortoise, yellow tortoise",Indotestudo,Testudinidae,celebes tortoise; forstens tortoise,Indotestudo,Testudinidae
4,4,23,143,"celebes tortoise, forstens tortoise, travancore tortoise",Indotestudo,Testudinidae,pineapple tortoise; rednosed tortoise; yellow tortoise; yellowheaded tortoise; elongated tortoise,Indotestudo,Testudinidae
5,5,23,159,"celebes tortoise, forstens tortoise, travancore tortoise",Indotestudo,Testudinidae,celebes tortoise; forstens tortoise,Indotestudo,Testudinidae
6,6,48,320,"nelsons antelope squirrel, san joaquin antelope ground squirrel, san joaquin antelope squirrel",Ammospermophilus,Sciuridae,san joaquin antelope ground squirrel; san joaquin antelope squirrel; nelsons antelope squirrel,Ammospermophilus,Sciuridae
7,7,53,702,milneedwardss sportive lemur,Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
8,8,54,702,"drybush weasel lemur, whitefooted sportive lemur",Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
9,9,55,702,"lightnecked sportive lemur, microdon sportive lemur, smalltoothed sportive lemur",Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
10,10,62,449,"tehuantepec hare, tehuantepec jackrabbit, tehuantepec jack rabbit, tropical hare",Lepus,Leporidae,tehuantepec hare; tehuantepec jack rabbit; tropical hare; tehuantepec jackrabbit,Lepus,Leporidae
11,11,71,458,greenthighed frog,Litoria,Hylidae,australian waterfall frog; waterfall frog; torrent tree frog,Litoria,Hylidae
12,12,71,459,greenthighed frog,Litoria,Hylidae,australian waterfall frog; waterfall frog; torrent tree frog,Litoria,Hylidae
13,13,71,460,greenthighed frog,Litoria,Hylidae,australian waterfall frog; waterfall frog; torrent tree frog,Litoria,Hylidae
14,14,81,125,"cyclades bluntnosed viper, milos viper",Macrovipera,Viperidae,milos viper; cyclades bluntnosed viper,Macrovipera,Viperidae
15,15,82,21,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,Testudinidae,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria,Testudinidae
16,16,82,22,"asian giant tortoise, asian tortoise, black giant tortoise, burmese brown tortoise, burmese moun...",Manouria,Testudinidae,asian brown tortoise; asian giant tortoise; black giant tortoise; burmese brown tortoise; burmes...,Manouria,Testudinidae
17,17,175,273,nilgiri longtailed tree mouse,Vandeleuria,Muridae,vandeleuria oleracea nilagirica; longtailed climbing mouse,Vandeleuria,Muridae
18,18,176,384,"dinagat hairytailed rat, russet batomys",Batomys,Muridae,dinagat batomys; dinagat hairytailed rat; russet batomys,Batomys,Muridae
19,19,177,270,makira flying fox,Pteropus,Pteropodidae,comoro black fruit bat; livingstones bat; livingstones flying fox,Pteropus,Pteropodidae
20,20,177,298,makira flying fox,Pteropus,Pteropodidae,greater mascarene flying fox; mauritan flying fox; mauritius fruit bat; mauritian flying fox,Pteropus,Pteropodidae
21,21,177,299,makira flying fox,Pteropus,Pteropodidae,greater mascarene flying fox; mauritan flying fox; mauritius fruit bat; mauritian flying fox,Pteropus,Pteropodidae
22,22,177,743,makira flying fox,Pteropus,Pteropodidae,rodrigues fruit bat; rodrigues flying fox,Pteropus,Pteropodidae
23,23,180,283,jollys mouse lemur,Microcebus,Cheirogaleidae,berthes mouse lemur; madame berthes mouse lemur,Microcebus,Cheirogaleidae
24,24,189,702,ankarana sportive lemur,Lepilemur,Lepilemuridae,lemur comadreja septentrional; northern sportive lemur,Lepilemur,Lepilemuridae
25,25,190,283,simmons mouse lemur,Microcebus,Cheirogaleidae,berthes mouse lemur; madame berthes mouse lemur,Microcebus,Cheirogaleidae
26,26,192,391,bakers smalltoothed harvest mouse,Reithrodontomys,Cricetidae,redbellied harvest mouse; salt marsh harvest mouse; saltmarsh harvest mouse,Reithrodontomys,Cricetidae
27,27,204,244,"blackish whiskered bat, frosted myotis",Myotis,Vespertilionidae,social bat; indiana bat,Myotis,Vespertilionidae
28,28,339,12,blind swamp eel,Ophisternon,Synbranchidae,blind swamp eel; anguila ciega,Ophisternon,Synbranchidae
29,29,350,366,queen alexandras birdwing,Ornithoptera,Papilionidae,ornithoptre de la reine alexandra; queen alexandras birdwing,Ornithoptera,Papilionidae
...,...,...,...,...,...,...,...,...,...
639,639,7682,781,la gomera giant lizard,Gallotia,Lacertidae,lagarto canario moteado; tenerife speckled lizard,Gallotia,Lacertidae
640,640,7683,643,tenerife speckled lizard,Gallotia,Lacertidae,lzard de simony; hierro giant lizard,Gallotia,Lacertidae
641,641,7683,664,tenerife speckled lizard,Gallotia,Lacertidae,gallotia gomerana; la gomera giant lizard,Gallotia,Lacertidae
642,642,7683,781,tenerife speckled lizard,Gallotia,Lacertidae,lagarto canario moteado; tenerife speckled lizard,Gallotia,Lacertidae
643,643,7723,645,"herola, hirola, hunters antelope, hunters hartebeest",Beatragus,Bovidae,hunters antelope; hunters hartebeest; hirola,Beatragus,Bovidae
644,644,7729,402,banhine barb,Barbus,Cyprinidae,clanwilliam sawfin; sawfin,Barbus,Cyprinidae
645,645,7744,377,"rameshwaram ornamental, rameshwaram parachute spider",Poecilotheria,Theraphosidae,red slate ornamental; red slate ornamental tarantula; reddish parachute tarantula; rufus parachu...,Poecilotheria,Theraphosidae
646,646,7744,731,"rameshwaram ornamental, rameshwaram parachute spider",Poecilotheria,Theraphosidae,rameshwaram ornamental; rameshwaram parachute spider,Poecilotheria,Theraphosidae
647,647,7745,377,"gooty tarantula, metallic tarantula, peacock parachute spider, peacock tarantula, salepurgu",Poecilotheria,Theraphosidae,red slate ornamental; red slate ornamental tarantula; reddish parachute tarantula; rufus parachu...,Poecilotheria,Theraphosidae
648,648,7745,731,"gooty tarantula, metallic tarantula, peacock parachute spider, peacock tarantula, salepurgu",Poecilotheria,Theraphosidae,rameshwaram ornamental; rameshwaram parachute spider,Poecilotheria,Theraphosidae
649,649,7762,199,"scotts treekangaroo, tenkile, tenkile tree kangaroo",Dendrolagus,Macropodidae,ornate treekangaroo; goodfellows tree kangaroo,Dendrolagus,Macropodidae
650,650,7762,241,"scotts treekangaroo, tenkile, tenkile tree kangaroo",Dendrolagus,Macropodidae,matschies treekangaroo; huon tree kangaroo,Dendrolagus,Macropodidae
651,651,7834,672,"land lobster, lord howe island phasmid, lord howe island stickinsect",Dryococelus,Phasmatidae,land lobster; lord howe island phasmid; lord howe island stickinsect; tree lobster; lord howe is...,Dryococelus,Phasmatidae
652,652,7839,499,"cayey robber frog, golden coqui, golden coqui frog",Eleutherodactylus,Eleutherodactylidae,melodius coqui; wightmans robber frog,Eleutherodactylus,Leptodactylidae
653,653,7842,499,"karls robber frog, stream coqui, webbedfooted coqui",Eleutherodactylus,Eleutherodactylidae,melodius coqui; wightmans robber frog,Eleutherodactylus,Leptodactylidae
654,654,7843,499,foothill robber frog,Eleutherodactylus,Eleutherodactylidae,melodius coqui; wightmans robber frog,Eleutherodactylus,Leptodactylidae
655,655,7852,338,cumberlandian combshell,Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
656,656,7853,338,upland combshell,Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
657,657,7855,338,"penitent mussel, southern combshell",Epioblasma,Unionidae,dysnomia capsaeformis; oyster mussel,Epioblasma,Unionidae
658,658,7868,581,"china alligator, chinese alligator",Alligator,Alligatoridae,alligator de chine; chinese alligator,Alligator,Alligatoridae
659,659,7875,643,"el hierro giant lizard, hierro giant lizard",Gallotia,Lacertidae,lzard de simony; hierro giant lizard,Gallotia,Lacertidae
660,660,7875,664,"el hierro giant lizard, hierro giant lizard",Gallotia,Lacertidae,gallotia gomerana; la gomera giant lizard,Gallotia,Lacertidae
661,661,7875,781,"el hierro giant lizard, hierro giant lizard",Gallotia,Lacertidae,lagarto canario moteado; tenerife speckled lizard,Gallotia,Lacertidae
662,662,7879,573,"burmese starred tortoise, flatback tortoise",Geochelone,Testudinidae,flatback tortoise; burmese starred tortoise,Geochelone,Testudinidae
663,663,7886,419,taurus gudgeon,Gobio,Cyprinidae,gobio gobio skadarensis; skadar gudgeon,Gobio,Cyprinidae
664,664,7896,188,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,hapalmur dor; golden bamboo lemur,Hapalemur,Lemuridae
665,665,7896,521,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,alaotra reed lemur; alaotran bamboo lemur; bandro; lac alaotra bamboo lemur; lake alaotra gentle...,Hapalemur,Lemuridae
666,666,7896,522,"golden bamboo lemur, golden lemur",Hapalemur,Lemuridae,alaotra reed lemur; alaotran bamboo lemur; bandro; lac alaotra bamboo lemur; lake alaotra gentle...,Hapalemur,Lemuridae
667,667,7899,776,table mountain ghost frog,Heleophryne,Heleophrynidae,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne,Heleophrynidae
668,668,7899,777,table mountain ghost frog,Heleophryne,Heleophrynidae,ghost frog; roses ghost frog; roses torrent frog; skeleton gorge ghost frog; thumbed ghost frog;...,Heleophryne,Heleophrynidae