In [5]:
#Read in Redlist

import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
style.use('ggplot')

# Read in csv as dataframe
rl = pd.read_csv("tenFeaturesRedlist.csv", encoding="ISO-8859-1")
# glance at first few rows
rl.head()

,id,animal_name,genus,family,ecology,countries,threat_paragraph,conservation_paragraph,pop_trend,status,country_count
0,0,Ochlockonee Moccasinshell,Medionidus,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n,1
1,1,Nelson's Spiny Pocket Mouse,Heteromys,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the s...,['\n This species occurs in a newly-named n...,Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n...",2
2,2,Comoro Friar,Amauris,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n",1
3,3,"Atlantic Halibut, Halibut",Hippoglossus,Pleuronectidae,NaN,<div>Atlantic äóñ northeast; Atlantic äóñ nort...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n,15
4,10,Oktibbeha Riverlet Crayfish,Hobbseus,Cambaridae,Freshwater,United States (Mississippi);,\n This species is threatened by habitat de...,"['\n', <span style=""font-style: italic;""></spa...",Unknown,\n Endangered\n\n\n B1ab(iii)\n\n,1

In [6]:
#Read in ARKIVE
# Read in csv as dataframe
ar = pd.read_csv("arkive table analysis/output.csv", encoding="ISO-8859-1")
# glance at first few rows
ar.head()

,scientific_name,name,kingdom,phylum,class,order,family,genus,size,threats,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Alcatraz de Abbott,Piquero de Abbott,Abbott's booby,Animalia,Chordata,Aves,Pelecaniformes,Sulidae,Papasula (1),Length: 79 cm (2),...,The majority of Abbott's booby nest sites occu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abbotäó»s duiker,Abbottäó»s duiker,Animalia,Chordata,Mammalia,Cetartiodactyla,Bovidae,Cephalophus (1),50 äóñ 60 kg (2),Like many other duikers Abbott\u2019s duiker i...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cisticole des Aberdares,Aberdare cisticola,Animalia,Chordata,Aves,Passeriformes,Cisticolidae,Cisticola (1),Cisticola (1),[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adelaide pigmy blue-tongue skink,pygmy bluetongue,Adelaide pygmy bluetongue skink,Animalia,Chordata,Reptilia,Squamata,Scincidae,Tiliqua (1),Male snout-vent length: 3.8 - 10.6 cm (2)Femal...,...,The South Australia Department of Environment ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adriatic trout,softmouth trout,Adriatic salmon,Animalia,Chordata,Actinopterygii,Salmoniformes,Salmonidae,Salmo (1),80 - 425 g (4),...,There are currently no known conservation meas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN