In [1]:
#Read in Redlist

import pandas as pd
import py_entitymatching as em
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
import re
style.use('ggplot')

# Read in csv as dataframe
rl = em.read_csv_metadata("finalRedlist.csv", encoding="ISO-8859-1", key='id')
# glance at first few rows
rl.head()

c:\users\aparn\anaconda\envs\my_first_env\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
Metadata file is not present in the given path; proceeding to read the csv file.

,id,name,genus,family,ecology,countries,threat_paragraph,conservation_paragraph,pop_trend,status,country_count
0,0,ochlockonee moccasinshell,Medionidus,Unionidae,Freshwater,"United States (Florida, Georgia);",NaN,NaN,NaN,\n Critically Endangered\n\n\n A1ce\n\n,1
1,1,nelson's spiny pocket mouse,Heteromys,Heteromyidae,Terrestrial,Guatemala; Mexico (Chiapas);,\n The main threat to this species is the significant forest loss in its habitat. Habitat fra...,"['\n This species occurs in a newly-named national park, Tacana, in Mexico.\n\n \n ']",Decreasing,"\n Endangered\n\n\n B1ab(i,ii,iii,v)\n\n",2
2,2,comoro friar,Amauris,Nymphalidae,NaN,Comoros;,NaN,NaN,NaN,"\n Endangered\n\n\n B1+2c, C2b\n\n",1
3,3,"atlantic halibut, halibut",Hippoglossus,Pleuronectidae,NaN,<div>Atlantic å_åÑåÐ northeast; Atlantic å_åÑåÐ northwest</div>; Canada (Newfoundland I); Denmar...,NaN,NaN,NaN,\n Endangered\n\n\n A1d\n\n,15
4,10,oktibbeha riverlet crayfish,Hobbseus,Cambaridae,Freshwater,United States (Mississippi);,\n This species is threatened by habitat degradation through residential and urban developmen...,"['\n', <span style=""font-style: italic;""></span>, 'This species has been given the Global Herita...",Unknown,\n Endangered\n\n\n B1ab(iii)\n\n,1

In [2]:
# CME
em.get_key(rl) # get key

# Note: The id column of the  redlist csv doesn't actually look like the object created here (rl).  In the csv,
# id numbers jump around since they represent original row number of the original scraped data csv.  Apparently
# this library can detect what we want and enumerate things in order if you give it a key feature like this.

'id'

In [23]:
#Read in ARKIVE
# Read in csv as dataframe
ar = em.read_csv_metadata("finalArkives.csv", encoding="ISO-8859-1", key="id")
ar.head()
em.get_key(ar)

Metadata file is not present in the given path; proceeding to read the csv file.

'id'

In [24]:
equivB = em.AttrEquivalenceBlocker()
C0 = equivB.block_tables(rl, ar, 'genus', 'genus',
                    l_output_attrs=['name', 'genus'], 
                    r_output_attrs=['name', 'genus'])
C0
#for some reason, there are only two matches over genus

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,rtable_name,rtable_genus
0,0,2722,230,cornish pathmoss,Ditrichum,cornish path moss,Ditrichum
1,1,2722,231,cornish pathmoss,Ditrichum,cornish path moss,Ditrichum

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,rtable_name,rtable_genus
0,0,2722,230,cornish pathmoss,Ditrichum,cornish path moss,Ditrichum
1,1,2722,231,cornish pathmoss,Ditrichum,cornish path moss,Ditrichum

In [26]:
ob = em.OverlapBlocker()
C0 = ob.block_tables(rl, ar,'genus', 'genus', 
                     l_output_attrs=['name', 'genus', 'family'], 
                     r_output_attrs=['name', 'genus', 'family'], overlap_size=2)
C0
#...no matches over genus with the overlap blocker??

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00

Empty DataFrame
Columns: [_id, ltable_id, rtable_id, ltable_name, ltable_genus, ltable_family, rtable_name, rtable_genus, rtable_family]
Index: []

In [27]:
equivB = em.AttrEquivalenceBlocker()
C0 = equivB.block_tables(rl, ar, 'family', 'family',
                    l_output_attrs=['name', 'genus', 'family'], 
                    r_output_attrs=['name', 'genus', 'family'])
C0
#10k matches...need to double check why genus is not working though

,_id,ltable_id,rtable_id,ltable_name,ltable_genus,ltable_family,rtable_name,rtable_genus,rtable_family
0,0,0,689,ochlockonee moccasinshell,Medionidus,Unionidae,oyster mussel,Epioblasma,Unionidae
1,1,0,690,ochlockonee moccasinshell,Medionidus,Unionidae,oyster mussel,Epioblasma,Unionidae
2,2,0,691,ochlockonee moccasinshell,Medionidus,Unionidae,oyster mussel,Epioblasma,Unionidae
3,3,0,1119,ochlockonee moccasinshell,Medionidus,Unionidae,clubshell pearly mussel,Pleurobema,Unionidae
4,4,0,1130,ochlockonee moccasinshell,Medionidus,Unionidae,cumberland bean pearly mussel,Villosa,Unionidae
5,5,0,1378,ochlockonee moccasinshell,Medionidus,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
6,6,0,1379,ochlockonee moccasinshell,Medionidus,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
7,7,42,689,higgins eye pearly mussel,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
8,8,42,690,higgins eye pearly mussel,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
9,9,42,691,higgins eye pearly mussel,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
10,10,42,1119,higgins eye pearly mussel,Lampsilis,Unionidae,clubshell pearly mussel,Pleurobema,Unionidae
11,11,42,1130,higgins eye pearly mussel,Lampsilis,Unionidae,cumberland bean pearly mussel,Villosa,Unionidae
12,12,42,1378,higgins eye pearly mussel,Lampsilis,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
13,13,42,1379,higgins eye pearly mussel,Lampsilis,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
14,14,43,689,yellow lampmussel,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
15,15,43,690,yellow lampmussel,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
16,16,43,691,yellow lampmussel,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
17,17,43,1119,yellow lampmussel,Lampsilis,Unionidae,clubshell pearly mussel,Pleurobema,Unionidae
18,18,43,1130,yellow lampmussel,Lampsilis,Unionidae,cumberland bean pearly mussel,Villosa,Unionidae
19,19,43,1378,yellow lampmussel,Lampsilis,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
20,20,43,1379,yellow lampmussel,Lampsilis,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
21,21,44,689,arkansas fatmucket,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
22,22,44,690,arkansas fatmucket,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
23,23,44,691,arkansas fatmucket,Lampsilis,Unionidae,oyster mussel,Epioblasma,Unionidae
24,24,44,1119,arkansas fatmucket,Lampsilis,Unionidae,clubshell pearly mussel,Pleurobema,Unionidae
25,25,44,1130,arkansas fatmucket,Lampsilis,Unionidae,cumberland bean pearly mussel,Villosa,Unionidae
26,26,44,1378,arkansas fatmucket,Lampsilis,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
27,27,44,1379,arkansas fatmucket,Lampsilis,Unionidae,orangefoot pimpleback,Plethobasus,Unionidae
28,28,86,689,alabama moccasinshell,Medionidus,Unionidae,oyster mussel,Epioblasma,Unionidae
29,29,86,690,alabama moccasinshell,Medionidus,Unionidae,oyster mussel,Epioblasma,Unionidae
...,...,...,...,...,...,...,...,...,...
10235,10235,7477,312,philippines crocodile,Crocodylus,Crocodylidae,false gharial,Tomistoma,Crocodylidae
10236,10236,7477,313,philippines crocodile,Crocodylus,Crocodylidae,false gharial,Tomistoma,Crocodylidae
10237,10237,7477,1129,philippines crocodile,Crocodylus,Crocodylidae,cuban crocodile,Crocodylus,Crocodylidae
10238,10238,7477,1380,philippines crocodile,Crocodylus,Crocodylidae,orinoco crocodile,Crocodylus,Crocodylidae
10239,10239,7477,1404,philippines crocodile,Crocodylus,Crocodylidae,philippine crocodile,Crocodylus,Crocodylidae
10240,10240,7477,1405,philippines crocodile,Crocodylus,Crocodylidae,philippine crocodile,Crocodylus,Crocodylidae
10241,10241,7512,918,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,virgin islands coqui,Eleutherodactylus,Leptodactylidae
10242,10242,7512,919,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,virgin islands coqui,Eleutherodactylus,Leptodactylidae
10243,10243,7512,971,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,wightmans robber frog,Eleutherodactylus,Leptodactylidae
10244,10244,7512,1354,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,mountain chicken,Leptodactylus,Leptodactylidae
10245,10245,7512,1541,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,titicaca water frog,Telmatobius,Leptodactylidae
10246,10246,7512,1568,"giant ditch frog, mountain chicken",Leptodactylus,Leptodactylidae,water frog,Telmatobius,Leptodactylidae
10247,10247,7514,918,honduras whitelipped frog,Leptodactylus,Leptodactylidae,virgin islands coqui,Eleutherodactylus,Leptodactylidae
10248,10248,7514,919,honduras whitelipped frog,Leptodactylus,Leptodactylidae,virgin islands coqui,Eleutherodactylus,Leptodactylidae
10249,10249,7514,971,honduras whitelipped frog,Leptodactylus,Leptodactylidae,wightmans robber frog,Eleutherodactylus,Leptodactylidae
10250,10250,7514,1354,honduras whitelipped frog,Leptodactylus,Leptodactylidae,mountain chicken,Leptodactylus,Leptodactylidae
10251,10251,7514,1541,honduras whitelipped frog,Leptodactylus,Leptodactylidae,titicaca water frog,Telmatobius,Leptodactylidae
10252,10252,7514,1568,honduras whitelipped frog,Leptodactylus,Leptodactylidae,water frog,Telmatobius,Leptodactylidae
10253,10253,7642,215,java stingaree,Urolophus,Urolophidae,coastal stingaree,Urolophus,Urolophidae
10254,10254,7728,1099,cave catfish,Clarias,Clariidae,cave catfish,Clarias,Clariidae
10255,10255,7728,1100,cave catfish,Clarias,Clariidae,cave catfish,Clarias,Clariidae
10256,10256,7838,1151,delta green ground beetle,Elaphrus,Carabidae,delta green ground beetle,Elaphrus,Carabidae
10257,10257,7838,1152,delta green ground beetle,Elaphrus,Carabidae,delta green ground beetle,Elaphrus,Carabidae
10258,10258,7838,1153,delta green ground beetle,Elaphrus,Carabidae,delta green ground beetle,Elaphrus,Carabidae
10259,10259,7866,308,prairie sphinx moth,Euproserpinus,Sphingidae,fabulous green sphinx moth,Tinostoma,Sphingidae
10260,10260,7866,309,prairie sphinx moth,Euproserpinus,Sphingidae,fabulous green sphinx moth,Tinostoma,Sphingidae
10261,10261,7868,1108,"china alligator, chinese alligator",Alligator,Alligatoridae,chinese alligator,Alligator,Alligatoridae
10262,10262,7868,1109,"china alligator, chinese alligator",Alligator,Alligatoridae,chinese alligator,Alligator,Alligatoridae
10263,10263,7868,1110,"china alligator, chinese alligator",Alligator,Alligatoridae,chinese alligator,Alligator,Alligatoridae
10264,10264,7903,1250,corsican snail,Tyrrhenaria,Helicidae,hemicycla,Hemicycla,Helicidae

In [28]:
em.to_csv_metadata(C0, './larger_candidate_set.csv')

True

C = em.read_csv_metadata('candidate_set.csv', ltable=rl, rtable=ar)
C

In [30]:
C

NameError: name 'C' is not defined