In [1]:
import pandas as pd
import py_stringmatching as sm
import math
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
import re
import operator
style.use('ggplot')

# read in csv as dataframe
c = pd.read_csv("../blocking/candidate_set.csv", encoding="ISO-8859-1", index_col='_id')

c.head()

,ltable_id,rtable_id,ltable_name,ltable_genus,ltable_ecology,ltable_countries,ltable_threat_paragraph,ltable_conservation_paragraph,ltable_pop_trend,ltable_status,...,ltable_id.1,rtable_id.1,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,name_name_jac_dlm_dc0_dlm_dc0,name_name_mel,name_name_lev_dist,name_name_lev_sim,name_name_nmw,name_name_sw
_id,,,,,,,,,,,,,,,,,,,,,
25215,1470,3,"adelaide pigmy bluetongue skink, pygmy bluetongue",Tiliqua,NaN,Australia;,NaN,NaN,NaN,\r\r\r\n Endangered\r\r\r\n\r\r\r\n\r\r\r\n...,...,1470,3,0.738095,0.670820,0.50,0.914987,18,0.632653,14,30
75598,4363,9,albanian water frog,Pelophylax,Terrestrial; Freshwater,Albania; Montenegro;,\r\r\r\n The major threat is drainage of we...,"[""\n It is listed on Appendix III of the Be...",Decreasing,\r\r\r\n Endangered\r\r\r\n\r\r\r\n\r\r\r\n...,...,4363,9,0.791667,1.000000,1.00,0.990000,1,0.950000,18,19
75600,4365,9,NaN,Pelophylax,Terrestrial; Freshwater,China;,\r\r\r\n The major threat is over-collectin...,['\n The Shapotou location is within a nati...,Decreasing,\r\r\r\n Endangered\r\r\r\n\r\r\r\n\r\r\r\n...,...,4365,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78778,7543,9,karpathos frog,Pelophylax,Terrestrial; Freshwater,Greece;,\r\r\r\n The major threat is habitat loss a...,['\n It is listed on Appendix III of the Be...,Decreasing,\r\r\r\n Critically Endangered\r\r\r\n\r\r\...,...,7543,9,0.085714,0.408248,0.25,0.573810,13,0.350000,1,6
83513,4363,10,albanian water frog,Pelophylax,Terrestrial; Freshwater,Albania; Montenegro;,\r\r\r\n The major threat is drainage of we...,"[""\n It is listed on Appendix III of the Be...",Decreasing,\r\r\r\n Endangered\r\r\r\n\r\r\r\n\r\r\r\n...,...,4363,10,0.791667,1.000000,1.00,0.990000,1,0.950000,18,19

In [2]:
#list col names
list(c.columns.values)

['ltable_id',
 'rtable_id',
 'ltable_name',
 'ltable_genus',
 'ltable_ecology',
 'ltable_countries',
 'ltable_threat_paragraph',
 'ltable_conservation_paragraph',
 'ltable_pop_trend',
 'ltable_status',
 'ltable_country_count',
 'rtable_name',
 'rtable_kingdom',
 'rtable_phylum',
 'rtable_class',
 'rtable_order',
 'rtable_genus',
 'rtable_size',
 'rtable_threats',
 'rtable_conservation',
 'rtable_threat_keywords',
 'rtable_conservation_keywords',
 'rtable_tCount',
 'rtable_cCount',
 '_id.1',
 'ltable_id.1',
 'rtable_id.1',
 'name_name_jac_qgm_3_qgm_3',
 'name_name_cos_dlm_dc0_dlm_dc0',
 'name_name_jac_dlm_dc0_dlm_dc0',
 'name_name_mel',
 'name_name_lev_dist',
 'name_name_lev_sim',
 'name_name_nmw',
 'name_name_sw']

In [3]:
c['ltable_status'].head()

_id
25215    \r\r\r\n    Endangered\r\r\r\n\r\r\r\n\r\r\r\n...
75598    \r\r\r\n    Endangered\r\r\r\n\r\r\r\n\r\r\r\n...
75600    \r\r\r\n    Endangered\r\r\r\n\r\r\r\n\r\r\r\n...
78778    \r\r\r\n    Critically Endangered\r\r\r\n\r\r\...
83513    \r\r\r\n    Endangered\r\r\r\n\r\r\r\n\r\r\r\n...
Name: ltable_status, dtype: object

In [4]:
# clean up ltable_status column
# author: @andrewedstrom

# remove parenthesis contents
for index, row in c.iterrows():
    status = row['ltable_status']
    if 'Critically' in status:
        status = 'Critically Endangered'
    else:
        status = 'Endangered'
    c.loc[index, 'ltable_status'] = status
    
c.head()

,ltable_id,rtable_id,ltable_name,ltable_genus,ltable_ecology,ltable_countries,ltable_threat_paragraph,ltable_conservation_paragraph,ltable_pop_trend,ltable_status,...,ltable_id.1,rtable_id.1,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,name_name_jac_dlm_dc0_dlm_dc0,name_name_mel,name_name_lev_dist,name_name_lev_sim,name_name_nmw,name_name_sw
_id,,,,,,,,,,,,,,,,,,,,,
25215,1470,3,"adelaide pigmy bluetongue skink, pygmy bluetongue",Tiliqua,NaN,Australia;,NaN,NaN,NaN,Endangered,...,1470,3,0.738095,0.670820,0.50,0.914987,18,0.632653,14,30
75598,4363,9,albanian water frog,Pelophylax,Terrestrial; Freshwater,Albania; Montenegro;,\r\r\r\n The major threat is drainage of we...,"[""\n It is listed on Appendix III of the Be...",Decreasing,Endangered,...,4363,9,0.791667,1.000000,1.00,0.990000,1,0.950000,18,19
75600,4365,9,NaN,Pelophylax,Terrestrial; Freshwater,China;,\r\r\r\n The major threat is over-collectin...,['\n The Shapotou location is within a nati...,Decreasing,Endangered,...,4365,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78778,7543,9,karpathos frog,Pelophylax,Terrestrial; Freshwater,Greece;,\r\r\r\n The major threat is habitat loss a...,['\n It is listed on Appendix III of the Be...,Decreasing,Critically Endangered,...,7543,9,0.085714,0.408248,0.25,0.573810,13,0.350000,1,6
83513,4363,10,albanian water frog,Pelophylax,Terrestrial; Freshwater,Albania; Montenegro;,\r\r\r\n The major threat is drainage of we...,"[""\n It is listed on Appendix III of the Be...",Decreasing,Endangered,...,4363,10,0.791667,1.000000,1.00,0.990000,1,0.950000,18,19

In [6]:
c['rtable_country']

KeyError: 'rtable_country'

In [7]:
# add country match column
# author: @andrewedstrom
import operator, re, string
country_match_column = []

#create delimiter tokenizer using semicolon as delimiter
delim_tok = sm.DelimiterTokenizer(delim_set=['; '], return_set=True)

#create overlap coefficient similarity measure
oc = sm.OverlapCoefficient()

def clean_tokens(tok_list):
    new_list = []
    for s in tok_list:
        s = s.lower()
        
        #parentheticals
        if '(' in s:
            pstart = s.find('(')
            pend = s.find(')')
            if pend < len(s) - 1 and pend > 0:
                s = s[0:pstart] + s[pend+1:]
            else:
                s = s[0:pstart]
                
        #leading/trailing whitespace
        s = s.strip()
        
        #leading/trailing punctuation
        s = s.strip(string.punctuation)
        new_list.append(s)
    return new_list

for index, row in c.iterrows():
    lc = row['ltable_countries']
    rc = row['rtable_countries']
    
    ltok = delim_tok.tokenize(lc)
    rtok = delim_tok.tokenize(rc)
    ltok = clean_tokens(ltok)
    rtok = clean_tokens(rtok)
    
    overlap = oc.get_raw_score(ltok, rtok)
    
    country_match_column.append(overlap)
    
    
c['country_overlap'] = country_match_column
c.head()

KeyError: 'rtable_countries'

In [ ]:
# Code to add country similarity as feature

# Author @Jabroni McBroniFace
dfCandSet = pd.read_csv('candidate_set.csv',encoding="ISO-8859-1",index_col='_id')
dfCandSet.columns
dfCandSet.head()
#'ltable_country_count'
#'rtable_cCount'

# Add column for countryCountSimilarity (similar if within same count by one)
import operator, re

countryMatchColumn = []
for index, row in c.iterrows():
    lcCount = int(row['ltable_country_count'])
    rcCount = int(row['rtable_cCount'])
    
    if (lcCount-1) <= rcCount <= (lcCount+1):
        countryMatchColumn.append(1)
    else:
        countryMatchColumn.append(0)

c['country_count_sim'] = countryMatchColumn
c.head()

In [ ]:
c.to_csv('../blocking/candidate_set.csv')